openapi: 3.2.0
info:
  title: DNSFilter Agent Local User Bulk Deletes API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Agent Local User Bulk Deletes
  description: ''
paths:
  /v1/agent_local_user_bulk_deletes:
    post:
      tags:
      - Agent Local User Bulk Deletes
      operationId: V1_Agent_Local_User_Bulk_Deletes-create
      parameters:
      - name: block_page
        description: Filter by block page name
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StringContainsOp'
      - name: collection_id
        description: Filter by collection
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/ArrayIntegerIsOp'
      - name: friendly_name
        description: Filter by friendly name
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StringContainsOp'
      - name: name_search
        description: Search by friendly_name, falls back to user_name when friendly_name is absent
        required: false
        in: query
        schema:
          type: string
      - name: policy_schedule
        description: Filter by policy or scheduled policy name
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StringContainsOp'
      - name: search
        description: Filter by name or user_login
        required: false
        in: query
        schema:
          type: string
      - name: user_login
        description: Filter by user login
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StringContainsOp'
      - name: user_name
        description: Filter by username
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StringContainsOp'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent Local User bulk delete
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentLocalUserBulkDeletes'
      description: Create an agent local user bulk delete.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/agent_local_user_bulk_deletes
      x-action: create
      requestBody:
        description: User agent bulk delete information, ids overrides filters, exclude_ids removes agents from filtered set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentLocalUserBulkDeletes'
  /v1/agent_local_user_bulk_deletes/{id}:
    get:
      tags:
      - Agent Local User Bulk Deletes
      operationId: V1_Agent_Local_User_Bulk_Deletes-show
      parameters:
      - name: id
        description: Id of agent local user bulk delete
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent local user bulk delete
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentLocalUserBulkDeletes'
      description: Gets an agent local user bulk delete by id.
      summary: Show bulk delete
      security:
      - header_authorization: []
      x-controller: v1/agent_local_user_bulk_deletes
      x-action: show
  /v1/agent_local_user_bulk_deletes/counts:
    get:
      tags:
      - Agent Local User Bulk Deletes
      operationId: V1_Agent_Local_User_Bulk_Deletes-counts
      parameters:
      - name: id
        description: Id of agent local user bulk delete
        required: true
        in: query
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent local user bulk delete counts information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentLocalUserBulkDeletesCounts'
      description: Gets an agent local user bulk delete count by bulk delete id.
      summary: Count
      security:
      - header_authorization: []
      x-controller: v1/agent_local_user_bulk_deletes
      x-action: counts
components:
  schemas:
    StringContainsOp:
      type: object
      properties:
        operator:
          type: string
          enum:
          - contains
          - doesnotcontain
        value:
          type: string
    ArrayIntegerIsOp:
      type: object
      properties:
        operator:
          type: string
          enum:
          - is
          - isnot
        value:
          oneOf:
          - type: array
            items:
              type: integer
          - type: string
    AgentLocalUserBulkDeletes:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
          description: Ids of agent local users to delete. Overrides any lookups based on filters
        exclude_ids:
          type: array
          items:
            type: integer
          description: Ids of agent local users to remove from delete when using filters
      description: Agent local user bulk delete request parameters
    AgentLocalUserBulkDeletesCounts:
      type: object
      properties:
        count:
          type: integer
      description: Agent local user bulk delete counts
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
