openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes User Agent Cleanups API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: User Agent Cleanups
  description: ''
paths:
  /v1/user_agent_cleanups:
    post:
      tags:
      - User Agent Cleanups
      operationId: V1_User_Agent_Cleanups-create
      parameters: []
      responses:
        '200':
          description: User agent cleanup
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserAgentCleanup'
      description: Creates a user agent cleanup to track bulk deletion of user agents.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/user_agent_cleanups
      x-action: create
      requestBody:
        description: User agent cleanup information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAgentCleanupCreate'
  /v1/user_agent_cleanups/{id}:
    get:
      tags:
      - User Agent Cleanups
      operationId: V1_User_Agent_Cleanups-show
      parameters:
      - name: id
        description: Id of user agent cleanup
        required: true
        in: path
        schema:
          type: integer
      responses:
        '200':
          description: User agent cleanup
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserAgentCleanup'
      description: Gets the specific user agent cleanup.
      summary: Show
      security:
      - header_authorization: []
      x-controller: v1/user_agent_cleanups
      x-action: show
    put:
      tags:
      - User Agent Cleanups
      operationId: V1_User_Agent_Cleanups-update
      parameters:
      - name: id
        description: Id of user agent cleanup
        required: true
        in: path
        schema:
          type: integer
      responses:
        '200':
          description: User agent cleanup
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserAgentCleanup'
      description: Updates a user agent cleanup.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/user_agent_cleanups
      x-action: update
      requestBody:
        description: start property will start the cleanup and will do nothing if inactive_for is included. inactive_for is the number of inactive days, updating restarts job to find RCs to delete.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAgentCleanupUpdate'
components:
  schemas:
    UserAgentCleanupUpdate:
      type: object
      properties:
        start:
          type: boolean
          description: Start the cleanup, will do nothing if inactive_for is included
        inactive_for:
          type: integer
          description: The number of inactive days, updating restarts job to find RCs to delete
      description: User agent cleanup update
    UserAgentCleanupCreate:
      type: object
      properties:
        organization_id:
          type: integer
          description: Organization ID - deprecated
        organization_ids:
          type: array
          items:
            type: integer
          description: List of Organization IDs
        inactive_for:
          type: integer
          description: The number of inactive days
      required:
      - organization_ids
      - inactive_for
      description: User agent cleanup create
    UserAgentCleanup:
      type: object
      properties:
        inactive_for:
          type: integer
          description: the number of inactive days for user agent to be included in cleanup
        organization_id:
          type: integer
          description: Organization resource ID - deprecated
        organization_ids:
          type: array
          items:
            type: integer
          description: Organization resource IDs
        query_completed:
          type: boolean
          description: true if query to find inactive agents completed
        started:
          type: boolean
          description: true if cleanup process started
        completed:
          type: boolean
          description: true if cleanup process completed
        to_delete:
          type: array
          items:
            type: string
          description: name of agents to be deleted
        agents_to_delete:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              organization_name:
                type: string
          description: agents to be deleted
      description: User agent cleanups
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
