openapi: 3.2.0
info:
  title: DNSFilter Agent Local Users API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Agent Local Users
  description: ''
paths:
  /v1/agent_local_users:
    get:
      tags:
      - Agent Local Users
      operationId: V1_Agent_Local_Users-index
      parameters:
      - name: block_page
        description: Filter by block page name
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StringContainsOp'
      - name: collection_id
        description: Filter by collection
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/ArrayIntegerIsOp'
      - name: cybersight_enabled
        description: 'When true, use OpenSearch for activity in the time window: without user_agent_uuids, return extant ALUs seen on any Cybersight-eligible roaming client in the org(s); with user_agent_uuids, return ALUs seen on those roaming clients. When false, use Postgres only (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      - name: end_at
        description: ISO8601 end of activity window. Optional; only used with start_at when cybersight_enabled=true.
        required: false
        in: query
        schema:
          type: string
      - name: friendly_name
        description: Filter by friendly name
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StringContainsOp'
      - name: ids
        description: Filter to users whose IDs are in the specified list of values
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: in_a_collection
        description: filter by agent local users in a collection
        required: false
        in: query
        schema:
          type: boolean
      - name: msp_id
        description: MSP ID. When provided, returns agent local users across all organizations belonging to this MSP.
        required: false
        in: query
        schema:
          type: integer
      - name: name
        description: filter by name. If friendly_name not found, will search by user_name
        required: false
        in: query
        schema:
          type: string
      - name: organization_ids
        description: Organization IDs, defaults to user organization ID
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      - name: policy_schedule
        description: Filter by policy or scheduled policy name
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StringContainsOp'
      - name: search
        description: Filter by name or user_login
        required: false
        in: query
        schema:
          type: string
      - name: sort
        description: 'Sort options, valid attributes: name, first_seen, last_seen. Prefix with - for descending (e.g. -first_seen)'
        required: false
        in: query
        schema:
          type: string
      - name: start_at
        description: ISO8601 start of activity window. Optional; only used when cybersight_enabled=true. Omitted => last 91 days unless paired with end_at.
        required: false
        in: query
        schema:
          type: string
      - name: user_agent_uuids
        description: Filter to users associated with these roaming clients. When cybersight_enabled=true uses Cybersight activity (OpenSearch); otherwise uses current user on device (PG).
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: user_login
        description: Filter by user login
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StringContainsOp'
      - name: user_name
        description: Filter by username
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StringContainsOp'
      - name: user_policy_override
        description: When true, return only users with a policy or scheduled policy directly assigned. When false, return only users without a direct policy or scheduled policy assignment.
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent local users basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentLocalUserSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets the agent local users associated to an organization with basic information.
      summary: Gets extant users
      security:
      - header_authorization: []
      x-controller: v1/agent_local_users
      x-action: index
  /v1/agent_local_users/all:
    get:
      tags:
      - Agent Local Users
      operationId: V1_Agent_Local_Users-all
      parameters:
      - name: cybersight_enabled
        description: 'When true, use OpenSearch for activity in the time window: without user_agent_uuids, return ALUs seen on any Cybersight-eligible roaming client in scope; with user_agent_uuids, return ALUs seen on those roaming clients. When false, use Postgres only (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      - name: end_at
        description: ISO8601 end of activity window. Optional; only used with start_at when cybersight_enabled=true.
        required: false
        in: query
        schema:
          type: string
      - name: in_a_collection
        description: filter by agent local users in a collection
        required: false
        in: query
        schema:
          type: boolean
      - name: name
        description: filter by name. If friendly_name not found, will search by user_name
        required: false
        in: query
        schema:
          type: string
      - name: organization_ids
        description: Organization IDs, defaults to user organization ID
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      - name: sort
        description: 'Sort options, valid attributes: name'
        required: false
        in: query
        schema:
          type: string
      - name: start_at
        description: ISO8601 start of activity window. Optional; only used when cybersight_enabled=true. Omitted => last 91 days unless paired with end_at.
        required: false
        in: query
        schema:
          type: string
      - name: user_agent_uuids
        description: Filter to users associated with these roaming clients. When cybersight_enabled=true uses Cybersight activity (OpenSearch); otherwise uses current user on device (PG).
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: user_policy_override
        description: When true, return only users with a policy or scheduled policy directly assigned. When false, return only users without a direct policy or scheduled policy assignment.
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent local users basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentLocalUserSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets ALL agent local users associated to an user organization with basic information.
      summary: Gets ALL users
      security:
      - header_authorization: []
      x-controller: v1/agent_local_users
      x-action: all
  /v1/agent_local_users/{id}:
    get:
      tags:
      - Agent Local Users
      operationId: V1_Agent_Local_Users-show
      parameters:
      - name: id
        description: Agent local user ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent local user basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentLocalUserSpec'
      description: Gets basic information of the specified agent local user.
      summary: Show extant user
      security:
      - header_authorization: []
      x-controller: v1/agent_local_users
      x-action: show
    patch:
      tags:
      - Agent Local Users
      operationId: V1_Agent_Local_Users-update
      parameters:
      - name: id
        description: Agent local user ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update agent local user with the specified data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Updated agent local user basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentLocalUserSpec'
      description: Updates an agent local user with the specified data.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/agent_local_users
      x-action: update
      requestBody:
        description: Agent local user information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentLocalUserUpdateSpec'
    delete:
      tags:
      - Agent Local Users
      operationId: V1_Agent_Local_Users-destroy
      parameters:
      - name: id
        description: Agent local user ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not delete agent local user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '204':
          description: No Content
      description: Deletes a agent local user.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/agent_local_users
      x-action: destroy
  /v2/agent_local_users/counts:
    get:
      tags:
      - Agent Local Users
      operationId: V2_Agent_Local_Users-counts
      parameters:
      - name: msp_id
        description: MSP ID. When provided, returns counts across all organizations belonging to this MSP.
        required: false
        in: query
        schema:
          type: integer
      - name: name
        description: filter by name. If friendly_name not found, will search by user_name
        required: false
        in: query
        schema:
          type: string
      - name: organization_ids
        description: Organization IDs, defaults to user organization ID
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: search
        description: Filter by name or user_login
        required: false
        in: query
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent local user counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  all:
                    type: integer
                  user_policy_override:
                    type: integer
                  inherited_policy:
                    type: integer
      description: Gets counts of agent local users by policy assignment status.
      summary: Count users
      security:
      - header_authorization: []
      x-controller: v2/agent_local_users
      x-action: counts
components:
  schemas:
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    AgentLocalUserUpdateSpec:
      type: object
      properties:
        agent_local_user:
          $ref: '#/components/schemas/AgentLocalUserUpdate'
      required:
      - agent_local_user
      description: Agent local user update request parameters
    StringContainsOp:
      type: object
      properties:
        operator:
          type: string
          enum:
          - contains
          - doesnotcontain
        value:
          type: string
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    AgentLocalUserUpdate:
      type: object
      properties:
        friendly_name:
          type: string
          description: Agent local user friendly name
        policy_id:
          type: integer
          description: 'Agent local user custom policy ID, *NOTE*: will be ignored and unset if *scheduled_policy_id* is set'
        scheduled_policy_id:
          type: integer
          description: Agent local user custom scheduled policy ID
        block_page_id:
          type: integer
          description: Agent local user custom block page ID
      description: Agent local user update request parameters
    ArrayIntegerIsOp:
      type: object
      properties:
        operator:
          type: string
          enum:
          - is
          - isnot
        value:
          oneOf:
          - type: array
            items:
              type: integer
          - type: string
    AgentLocalUserSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/AgentLocalUser'
          relationships:
            type: object
            properties:
              organization:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
            description: Agent local user associated objects
      description: Agent local user specification
    AgentLocalUser:
      type: object
      properties:
        friendly_name:
          type: string
          description: User friendly name (may be null)
        user_login:
          type: string
          description: User remote login
        user_name:
          type: string
          description: User remote name (may be null)
        user_remote_id:
          type: string
          description: User remote ID (may be null)
        first_seen:
          type: string
          format: date
          description: First time the user was seen
        last_seen:
          type: string
          format: date
          description: Last time the user was seen
      description: Agent local user resource
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
