openapi: 3.2.0
info:
  title: DNSFilter Domain Notes API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Domain Notes
  description: ''
paths:
  /v1/notes/{resource}/{id}/{domain}:
    get:
      tags:
      - Domain Notes
      operationId: V1_Domain_Notes-show
      parameters:
      - name: domain
        description: domain
        required: true
        in: path
        schema:
          type: string
      - name: id
        description: Resource ID
        required: true
        in: path
        schema:
          type: integer
      - name: resource
        description: 'Valid resources: policies, msps or organizations'
        required: true
        in: path
        schema:
          type: string
          enum:
          - policies
          - msps
          - organizations
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Resource notes information
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/DomainNotesSpec'
      description: Gets associated notes from a specific resource.
      summary: Show
      security:
      - header_authorization: []
      x-controller: v1/domain_notes
      x-action: show
    patch:
      tags:
      - Domain Notes
      operationId: V1_Domain_Notes-update
      parameters:
      - name: domain
        description: domain
        required: true
        in: path
        schema:
          type: string
      - name: id
        description: Resource ID
        required: true
        in: path
        schema:
          type: integer
      - name: resource
        description: 'Valid resources: policies, msps or organizations'
        required: true
        in: path
        schema:
          type: string
          enum:
          - policies
          - msps
          - organizations
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update resource notes with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '200':
          description: Resource notes information
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/DomainNotesSpec'
      description: Updates notes for a resource with the specified data.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/domain_notes
      x-action: update
      requestBody:
        description: Resource notes information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainNotesCreateSpec'
  /v1/notes/{resource}/{id}/batch_update:
    patch:
      tags:
      - Domain Notes
      operationId: V1_Domain_Notes-batch_update
      parameters:
      - name: append
        description: true/false if the domains and notes are appended or updated, false by default.
        required: false
        in: query
        schema:
          type: boolean
      - name: id
        description: Resource ID
        required: true
        in: path
        schema:
          type: integer
      - name: notes
        description: 'Array with domain and notes information. ie: notes: [domain: ''google.com'', note: ''google notes'']'
        required: true
        in: query
        schema:
          type: array
          items:
            type: object
            properties:
              domain:
                type: string
              note:
                type: string
        explode: true
      - name: organization_ids
        description: Organization IDs, defaults to user organization ID
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: resource
        description: 'Valid resources: policies, msps or organizations'
        required: true
        in: path
        schema:
          type: string
          enum:
          - policies
          - msps
          - organizations
      - name: single_note
        description: a note applied for all provided domains
        required: false
        in: query
        schema:
          type: string
      - name: type
        description: Type of list allowlist/blocklist (allow, block), defaults to allow
        required: false
        in: query
        schema:
          type: string
          enum:
          - allow
          - block
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update resource notes with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '200':
          description: Resource notes information
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/DomainNotesSpec'
      description: Updates notes for a resource with the specified data.
      summary: Bulk update
      security:
      - header_authorization: []
      x-controller: v1/domain_notes
      x-action: batch_update
  /v1/notes/{resource}/{id}/notes/{domain}:
    delete:
      tags:
      - Domain Notes
      operationId: V1_Domain_Notes-destroy
      parameters:
      - name: domain
        description: domain
        required: true
        in: path
        schema:
          type: string
      - name: id
        description: Resource ID
        required: true
        in: path
        schema:
          type: integer
      - name: resource
        description: 'Valid resources: policies, msps or organizations'
        required: true
        in: path
        schema:
          type: string
          enum:
          - policies
          - msps
          - organizations
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not delete resource notes
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '200':
          description: Resource notes information
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/DomainNotesSpec'
      description: Deletes notes for a resource.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/domain_notes
      x-action: destroy
  /v1/notes/{resource}/{id}/notes/batch_destroy:
    delete:
      tags:
      - Domain Notes
      operationId: V1_Domain_Notes-batch_destroy
      parameters:
      - name: domains
        description: Comma separated list of domains.
        required: true
        in: query
        schema:
          type: string
      - name: id
        description: Resource ID
        required: true
        in: path
        schema:
          type: integer
      - name: resource
        description: 'Valid resources: policies, msps or organizations'
        required: true
        in: path
        schema:
          type: string
          enum:
          - policies
          - msps
          - organizations
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not delete resource notes
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '200':
          description: Resource notes information
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/DomainNotesSpec'
      description: Deletes notes for a resource.
      summary: Batch destroy
      security:
      - header_authorization: []
      x-controller: v1/domain_notes
      x-action: batch_destroy
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    DomainNotesCreateSpec:
      type: object
      properties:
        type:
          type: string
          enum:
          - allow
          - block
          description: Type of notes (allow, block), defaults to allow
        domain:
          type: string
          description: Allow/block list domain
        note:
          type: string
          description: Notes for domain
      required:
      - type
      - domain
      description: Ressource Notes creation request parameters
    DomainNotesSpec:
      type: object
      properties:
        allow_notes:
          type: object
          description: Notes for allowed domains
        block_notes:
          type: object
          description: Notes for blocked domains
      description: Domain notes response
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
