openapi: 3.2.0
info:
  title: DNSFilter Enterprise Connections API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Enterprise Connections
  description: ''
paths:
  /v1/enterprise_connections:
    get:
      tags:
      - Enterprise Connections
      operationId: V1_Enterprise_Connections-index
      parameters:
      - name: organization_id
        description: Organization ID
        required: true
        in: query
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Array of enterprise connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          $ref: '#/components/schemas/EnterpriseConnection'
      description: Gets information for all the enterprise connections for the given organization.
      summary: Get extant
      security:
      - header_authorization: []
      x-controller: v1/enterprise_connections
      x-action: index
    post:
      tags:
      - Enterprise Connections
      operationId: V1_Enterprise_Connections-create
      parameters: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unable to create connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Enterprise connection
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        $ref: '#/components/schemas/EnterpriseConnection'
      description: 'Create an enterprise connection.


        Note: To set your organization''s custom login url for enterprise

        connections, you need to set the ''unique_id'' attribute on the

        organization itself. See the PATCH /v1/organizations endpoint.'
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/enterprise_connections
      x-action: create
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseConnectionCreatePayload'
  /v1/enterprise_connections/{id}:
    get:
      tags:
      - Enterprise Connections
      operationId: V1_Enterprise_Connections-show
      parameters:
      - name: id
        description: Enterprise connection ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Enterprise connection
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        $ref: '#/components/schemas/EnterpriseConnection'
      description: Gets information for the specified enterprise connection.
      summary: Show connection
      security:
      - header_authorization: []
      x-controller: v1/enterprise_connections
      x-action: show
    patch:
      tags:
      - Enterprise Connections
      operationId: V1_Enterprise_Connections-update
      parameters:
      - name: id
        description: Enterprise connection ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unable to update connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Enterprise connection
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        $ref: '#/components/schemas/EnterpriseConnection'
      description: 'Update an enterprise connection.


        Note: To set your organization''s custom login url for enterprise

        connections, you need to set the ''unique_id'' attribute on the

        organization itself. See the PATCH /v1/organizations endpoint.'
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/enterprise_connections
      x-action: update
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseConnectionUpdatePayload'
    delete:
      tags:
      - Enterprise Connections
      operationId: V1_Enterprise_Connections-destroy
      parameters:
      - name: id
        description: Enterprise connection ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unable to delete connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '204':
          description: No Content
      description: Delete an enterprise connection.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/enterprise_connections
      x-action: destroy
components:
  schemas:
    EnterpriseConnectionOptions:
      type: object
      properties:
        client_id:
          type: string
          description: 'Used by: oidc'
        client_secret:
          type: string
          description: 'Used by: oidc'
        discovery_url:
          type: string
          description: 'Used by: oidc'
      description: 'The options are dependent upon the strategy for the enterprise connection

        itself. Check the descriptions for each attribute to determine if it is

        necessary.'
    EnterpriseConnectionCreatePayload:
      type: object
      properties:
        organization_id:
          type: integer
          description: Organization ID
        default_organization_id:
          type: integer
          description: Default organization ID
        strategy:
          type: string
          enum:
          - oidc
        display_name:
          type: string
          description: The, UI visible, name of the connection. If blank will default to strategy.
        role_default:
          type: string
          enum:
          - administrator
          - read_only
          - owner
          - technical
          - accountant
          - policies_only
          - super_administrator
          description: The default role. If blank, defaults to read_only.
        role_map:
          type: array
          items:
            $ref: '#/components/schemas/EnterpriseConnectionRoleMap'
        options:
          $ref: '#/components/schemas/EnterpriseConnectionOptions'
        idp:
          type: string
          enum:
          - openid
          - okta
          - azure
          - google
          description: The type of the enterprise connection's IDP.
        authorized_domains:
          type: array
          items:
            type: string
          description: Domains that are authorized to connect.
      required:
      - organization_id
      - strategy
      - options
      description: 'Note: To set your organization''s custom login url for enterprise

        connections, you need to set the ''unique_id'' attribute on the

        organization itself. See the PATCH /v1/organizations endpoint.'
    EnterpriseConnection:
      type: object
      properties:
        id:
          type: integer
          description: ID
        organization_id:
          type: integer
          description: Organization ID
        default_organization_id:
          type: integer
          description: Default organization ID
        name:
          type: string
          description: Name
        display_name:
          type: string
          description: Display Name
        role_default:
          type: integer
          description: Default role
        role_map:
          type: array
          items:
            $ref: '#/components/schemas/EnterpriseConnectionRoleMap'
          description: Role map
        sub_prefix:
          type: string
        conn_id:
          type: string
        idp:
          type: string
          enum:
          - openid
          - okta
          - azure
          - google
          description: The type of the enterprise connection's IDP.
        authorized_domains:
          type: array
          items:
            type: string
          description: Domains that are authorized to connect.
    EnterpriseConnectionUpdatePayload:
      type: object
      properties:
        organization_id:
          type: integer
          description: Organization ID
        default_organization_id:
          type: integer
          description: Default organization ID
        display_name:
          type: string
          description: The, UI visible, name of the connection.
        role_default:
          type: string
          enum:
          - administrator
          - read_only
          - owner
          - technical
          - accountant
          - policies_only
          - super_administrator
          description: The default role.
        role_map:
          type: array
          items:
            $ref: '#/components/schemas/EnterpriseConnectionRoleMap'
        options:
          $ref: '#/components/schemas/EnterpriseConnectionOptions'
        idp:
          type: string
          enum:
          - openid
          - okta
          - azure
          - google
          description: The type of the enterprise connection's IDP.
        authorized_domains:
          type: array
          items:
            type: string
          description: Domains that are authorized to connect.
      required:
      - options
      description: 'Note: To set your organization''s custom login url for enterprise

        connections, you need to set the ''unique_id'' attribute on the

        organization itself. See the PATCH /v1/organizations endpoint.'
    EnterpriseConnectionRoleMap:
      type: object
      properties:
        role:
          type: string
        group:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
