openapi: 3.2.0
info:
  title: DNSFilter User (Current) API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: User (Current)
  description: ''
paths:
  /v1/current_user:
    get:
      tags:
      - User (Current)
      operationId: V1_User_(Current)-show
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserSpec'
      description: Fetch information about the currently authenticated user.
      summary: Get
      security:
      - header_authorization: []
      x-controller: v1/current_users
      x-action: show
    patch:
      tags:
      - User (Current)
      operationId: V1_User_(Current)-update
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unable to update current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserSpec'
      description: Update attributes for the currently authenticated user.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/current_users
      x-action: update
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    first_name:
                      type: string
                    last_name:
                      type: string
                    phone:
                      type: string
components:
  schemas:
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    User:
      type: object
      properties:
        name:
          type: string
          description: Name
        email:
          type: string
          description: Email address
        email_verified:
          type: boolean
          description: Email address is verified (may be null)
        created_at:
          type: string
          format: date
          description: Creation date
        updated_at:
          type: string
          format: date
          description: Last update
        has_agreements_to_sign:
          type: boolean
          description: User has agreements to sign
        can_add_org_to_msps:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
          description: Optional list of MSPs user can add organizations to
      description: User resource
    UserSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/User'
      description: User specification
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
