openapi: 3.2.0
info:
  title: DNSFilter Trials API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Trials
  description: ''
paths:
  /v1/trials:
    post:
      tags:
      - Trials
      operationId: V1_Trials-create
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: The created trial
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TrialSpec'
      description: Create trial.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/trials
      x-action: create
      requestBody:
        description: The organization_id and sku
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrialCreate'
components:
  schemas:
    TrialSpec:
      type: object
      properties:
        entitlement_key:
          type: string
        entitlement_name:
          type: string
        skus:
          type: array
          items:
            type: string
        addon:
          type: string
        addon_sku:
          type: string
        in_use:
          type: boolean
        start:
          type: string
          format: date
        end:
          type: string
          format: date
        grace_period:
          type: string
          format: date
        active:
          type: boolean
      description: Trial details
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    TrialCreate:
      type: object
      properties:
        organization_id:
          type: integer
        sku:
          type: string
      description: Trial resource
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
