openapi: 3.2.0
info:
  title: DNSFilter Networks CSV Exports API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Networks CSV Exports
  description: ''
paths:
  /v2/networks_csv_export:
    post:
      tags:
      - Networks CSV Exports
      operationId: V2_Networks_CSV_Exports-create
      parameters:
      - name: ip_search
        description: Network ip/hostname search
        required: false
        in: query
        schema:
          type: string
      - name: protected
        description: Network status of protected
        required: false
        in: query
        schema:
          type: boolean
      - name: search
        description: Network name search
        required: false
        in: query
        schema:
          type: string
      - name: state
        description: Network status search (online/offline)
        required: false
        in: query
        schema:
          type: string
      - name: unprotected
        description: Network status of protected
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Network csv export
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworksCsvExport'
      description: Creates a networks csv export record to track export of networks.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v2/networks_csv_export
      x-action: create
      requestBody:
        description: Network csv export information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworksCsvExportCreate'
  /v2/networks_csv_export/{id}:
    get:
      tags:
      - Networks CSV Exports
      operationId: V2_Networks_CSV_Exports-show
      parameters:
      - name: id
        description: Id of Network csv export
        required: true
        in: path
        schema:
          type: integer
      responses:
        '200':
          description: Network csv export
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworksCsvExport'
      description: Shows a networks csv export.
      summary: Show
      security:
      - header_authorization: []
      x-controller: v2/networks_csv_export
      x-action: show
components:
  schemas:
    NetworksCsvExportCreate:
      type: object
      properties:
        networks_csv_export:
          type: object
          properties:
            organization_ids:
              type: array
              items:
                type: integer
            msp_id:
              type: integer
            ids:
              type: array
              items:
                type: integer
          description: CSV export attributes
      description: Networks csv export
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    NetworksCsvExport:
      type: object
      properties:
        id:
          type: integer
          description: Networks csv export ID
        organization_ids:
          type: array
          items:
            type: integer
          description: Organization IDs
        url:
          type: string
          description: URL to download the CSV
        error:
          type: string
          description: Error message if export failed
      description: Networks csv export
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
