openapi: 3.2.0
info:
  title: DNSFilter Network Subnets API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Network Subnets
  description: ''
paths:
  /v1/networks/subnets:
    get:
      tags:
      - Network Subnets
      operationId: V1_Network_Subnets-all
      parameters:
      - name: organization_id
        description: Organization ID
        required: false
        in: query
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Subnets basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkSubnetSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: List site subnets with basic information.
      summary: Get all
      security:
      - header_authorization: []
      x-controller: v1/network_subnets
      x-action: all
  /v1/networks/{id}/subnets:
    get:
      tags:
      - Network Subnets
      operationId: V1_Network_Subnets-index
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Subnets basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkSubnetSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets network associated subnets with basic information.
      summary: Get extant
      security:
      - header_authorization: []
      x-controller: v1/network_subnets
      x-action: index
    post:
      tags:
      - Network Subnets
      operationId: V1_Network_Subnets-create
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update subnet with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '201':
          description: Subnet basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworkSubnetSpec'
      description: Creates a network subnet with the specified data.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/network_subnets
      x-action: create
      requestBody:
        description: Subnet information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkSubnetCreateSpec'
  /v1/networks/{id}/subnets/{subnet_id}:
    get:
      tags:
      - Network Subnets
      operationId: V1_Network_Subnets-show
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      - name: subnet_id
        description: Subnet ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Subnet basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworkSubnetSpec'
      description: Gets network associated subnet with basic information.
      summary: Show subnet
      security:
      - header_authorization: []
      x-controller: v1/network_subnets
      x-action: show
    patch:
      tags:
      - Network Subnets
      operationId: V1_Network_Subnets-update
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      - name: subnet_id
        description: Subnet ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update subnet with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '200':
          description: Subnet basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworkSubnetSpec'
      description: Updates a network subnet with the specified data.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/network_subnets
      x-action: update
      requestBody:
        description: Subnet information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkSubnetCreateSpec'
    delete:
      tags:
      - Network Subnets
      operationId: V1_Network_Subnets-destroy
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      - name: subnet_id
        description: Subnet ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not destroy subnet with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '200':
          description: Deleted subnet basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworkSubnetSpec'
      description: Deletes a network subnet with the specified data.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/network_subnets
      x-action: destroy
components:
  schemas:
    NetworkSubnet:
      type: object
      properties:
        version:
          type: integer
          description: Subnet IP family version
        name:
          type: string
          description: Subnet name or alias
        from:
          type: string
          description: Subnet lower private IP address
        to:
          type: string
          description: Subnet upper private IP address
      description: User agent resource
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    NetworkSubnetCreateSpec:
      type: object
      properties:
        network_subnet:
          $ref: '#/components/schemas/NetworkSubnetCreate'
      required:
      - network_subnet
      description: Network subnet creation request parameters
    NetworkSubnetCreate:
      type: object
      properties:
        name:
          type: string
          description: Subnet name or alias
        from:
          type: string
          description: Subnet lower private IP address
        to:
          type: string
          description: Subnet upper private IP address
        policy_id:
          type: integer
          description: 'Subnet custom policy ID, *NOTE*: will be ignored and unset if *scheduled_policy_id* is set'
        scheduled_policy_id:
          type: integer
          description: Subnet custom scheduled policy ID
        block_page_id:
          type: integer
          description: Subnet custom block page ID
      required:
      - name
      - from
      - to
      description: Network creation request parameters
    NetworkSubnetSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/NetworkSubnet'
          relationships:
            type: object
            properties:
              network:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
              policy:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
              scheduled_policy:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
            description: '] Subnet associated objects'
      description: User agent specification
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
