openapi: 3.2.0
info:
  title: DNSFilter Categories API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Categories
  description: ''
paths:
  /v1/categories:
    get:
      tags:
      - Categories
      operationId: V1_Categories-index
      parameters:
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '200':
          description: Categories basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategorySpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: List categories basic information.
      summary: Get extant
      x-controller: v1/categories
      x-action: index
  /v1/categories/all:
    get:
      tags:
      - Categories
      operationId: V1_Categories-all
      parameters:
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '200':
          description: Categories basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategorySpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: List all categories including internal categories.
      summary: Get all
      x-controller: v1/categories
      x-action: all
  /v1/categories/{id}:
    get:
      tags:
      - Categories
      operationId: V1_Categories-show
      parameters:
      - name: id
        description: Category ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Category basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CategorySpec'
      description: Gets basic information of a specific category.
      summary: Show category
      x-controller: v1/categories
      x-action: show
components:
  schemas:
    Category:
      type: object
      properties:
        name:
          type: string
          description: Name
        description:
          type: string
          description: Description
        source:
          type: string
          description: Source
        security:
          type: boolean
          description: It is classified as a security threat
        internal:
          type: boolean
          description: True if the category is used internally such as content servers or unknown categorizations
      description: Category resource
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    CategorySpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/Category'
          relationships:
            type: object
            properties:
              child_categories:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IdType'
              parent_categories:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IdType'
            description: Category hierarchy
      description: Category specification
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
