openapi: 3.2.0
info:
  title: DNSFilter User Organization UI Settings API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: User Organization UI Settings
  description: Manage UI settings for the current user related to Organizations
paths:
  /v2/current_user/suppress_license_warning:
    post:
      tags:
      - User Organization UI Settings
      operationId: V2_User_Organization_UI_Settings-suppress_license_warning
      parameters:
      - name: body
        description: body
        required: true
        in: query
        schema:
          type: object
          properties:
            organization_uuid:
              type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Suppression date information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseWarningSuppressionData'
      description: Returns the suppression date and relevant information.
      summary: Suppresses license warning
      security:
      - header_authorization: []
      x-controller: v2/current_user/organization_ui_settings
      x-action: suppress_license_warning
components:
  schemas:
    LicenseWarningSuppressionData:
      type: object
      properties:
        warning_suppress_date:
          type: string
          description: Warning suppression date
        organization_uuid:
          type: string
          description: Organization UUID
        user_uuid:
          type: string
          description: User UUID
      description: Payload for License Warning Suppression Data
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
