openapi: 3.2.0
info:
  title: DNSFilter User UI Settings API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: User UI Settings
  description: Manage UI settings for the current user.
paths:
  /v2/current_user/ui_settings:
    get:
      tags:
      - User UI Settings
      operationId: V2_User_UI_Settings-show
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Current User's UI settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUiSetting'
      description: Returns the current user's UI settings.
      summary: Get UI Settings
      security:
      - header_authorization: []
      x-controller: v2/current_user/ui_settings
      x-action: show
    patch:
      tags:
      - User UI Settings
      operationId: V2_User_UI_Settings-update
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Current User's UI settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUiSetting'
      description: Updates current user's UI settings.
      summary: Update UI Settings
      security:
      - header_authorization: []
      x-controller: v2/current_user/ui_settings
      x-action: update
      requestBody:
        description: User UI settings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUiSetting'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    UserUiSetting:
      type: object
      properties:
        disable_license_warnings:
          type: boolean
          description: Disables license warnings
        user_uuid:
          type: string
          description: User UUID
        theme_mode:
          type: string
          description: 'UI color theme preference. Allowed values: light, dark, system. Defaults to system.'
      description: Payload for User UI settings
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
