openapi: 3.2.0
info:
  title: DNSFilter Block Pages API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Block Pages
  description: ''
paths:
  /v1/block_pages:
    get:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-index
      parameters:
      - name: organization_id
        description: Organization ID
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Block pages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockPage'
      description: Gets the list of block pages associated with the current user.
      summary: Get extant
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: index
    post:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-create
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create block_page with the specified data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: The created block page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockPage'
      description: Creates a new block page.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: create
      requestBody:
        description: Block page information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockPage'
  /v1/block_pages/all:
    get:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-all
      parameters:
      - name: organization_id
        description: Organization ID
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Block pages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockPage'
      description: Gets ALL block pages associated with the current user.
      summary: Get all
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: all
  /v1/block_pages/{id}:
    get:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-show
      parameters:
      - name: id
        description: BlockPage ID
        required: true
        in: path
        schema:
          type: integer
      - name: include_relationships
        description: Include relationships in the response true/false, defaults to true
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Block page data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockPage'
      description: Gets the specified block page.
      summary: Show page
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: show
    patch:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-update
      parameters:
      - name: id
        description: BlockPage ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update block page with the specified data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Updated block page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockPage'
      description: Updates a block_page with the specified data.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: update
      requestBody:
        description: Block page information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockPage'
    delete:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-destroy
      parameters:
      - name: id
        description: BlockPage ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: The deleted block page data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockPage'
      description: Deletes a block page.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: destroy
components:
  schemas:
    BlockPage:
      type: object
      properties:
        name:
          type: string
          description: Name
        organization_id:
          type: integer
          description: The organization that owns the block page
        block_org_name:
          type: string
          description: The name of the organization to show on the block page. (may be null)
        block_email_addr:
          type: string
          description: The contact email address to show (may be null)
        block_logo_uuid:
          type: string
          description: The UUID of the custom logo uploaded to uploadcare.com (may be null)
        created_at:
          type: string
          format: date
          description: The block page created date
        updated_at:
          type: string
          format: date
          description: The last updated date of the block page
      description: Represents a custom block page
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
