openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes User Agent Releases API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: User Agent Releases
  description: ''
paths:
  /v1/user_agent_releases:
    get:
      tags:
      - User Agent Releases
      operationId: V1_User_Agent_Releases-index
      parameters: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: A list of user agent releases
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_agent_releases:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserAgentRelease'
      description: 'Gets a list of latest user agent releases for each unique combination of

        agent_type, architecture, release_channels, and white label.'
      summary: Get
      security:
      - header_authorization: []
      x-controller: v1/user_agent_releases
      x-action: index
  /v1/user_agent_releases/relay:
    get:
      tags:
      - User Agent Releases
      operationId: V1_User_Agent_Releases-relay
      parameters: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: A list of user agent releases
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_agent_releases:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserAgentRelease'
      description: 'Gets a list of latest relay releases for each unique combination of

        architecture, release_channels, and white label.'
      summary: Get relay
      security:
      - header_authorization: []
      x-controller: v1/user_agent_releases
      x-action: relay
components:
  schemas:
    UserAgentRelease:
      type: object
      properties:
        agent_type:
          type: string
          enum:
          - windows
          - macos
          description: Agent type
        architecture:
          type: string
          enum:
          - x86
          - x86_64
          description: Architecture for the release
        agent_version:
          type: string
          description: A version number in semver format
        white_label:
          type: boolean
          description: true if white label release, false otherwise
        release_channels:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: string
              visible:
                type: boolean
          description: An array of objects with values including "stable" or "beta", and corresponding labels
        url:
          type: string
          description: The location of the release
      description: User agent release resource
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
