openapi: 3.2.0
info:
  title: DNSFilter Application Categories API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Application Categories
  description: ''
paths:
  /v1/application_categories:
    get:
      tags:
      - Application Categories
      operationId: V1_Application_Categories-index
      parameters:
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '200':
          description: Application categories basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationCategorySpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: List extant application categories.
      summary: Get extant
      security: []
      x-controller: v1/application_categories
      x-action: index
  /v1/application_categories/{id}:
    get:
      tags:
      - Application Categories
      operationId: V1_Application_Categories-show
      parameters:
      - name: id
        description: Application category ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Application category basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApplicationCategorySpec'
      description: Gets basic information of a specific application category.
      summary: Show category
      security: []
      x-controller: v1/application_categories
      x-action: show
components:
  schemas:
    ApplicationCategory:
      type: object
      properties:
        name:
          type: string
          description: Application name
        description:
          type: string
          description: Application description
      description: ApplicationCategory resource
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    ApplicationCategorySpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/ApplicationCategory'
      description: ApplicaitonCategory specification
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
