openapi: 3.2.0
info:
  title: DNSFilter Applications API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Applications
  description: Get information about available applications for the allow and block lists.
paths:
  /v1/applications:
    get:
      tags:
      - Applications
      operationId: V1_Applications-index
      parameters:
      - name: category_ids
        description: Category IDs, defaults to all
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '200':
          description: Applications basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: List extant applications basic information.
      summary: Get extant
      security:
      - header_authorization: []
      x-controller: v1/applications
      x-action: index
  /v1/applications/all:
    get:
      tags:
      - Applications
      operationId: V1_Applications-all
      parameters:
      - name: category_ids
        description: Category IDs, defaults to all
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '200':
          description: Applications basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: List applications basic information, including deleted ones.
      summary: Get all
      security:
      - header_authorization: []
      x-controller: v1/applications
      x-action: all
  /v1/applications/{id}:
    get:
      tags:
      - Applications
      operationId: V1_Applications-show
      parameters:
      - name: id
        description: Application ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Applications basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApplicationSpec'
      description: Gets basic information of a specific application.
      summary: Show
      security:
      - header_authorization: []
      x-controller: v1/applications
      x-action: show
components:
  schemas:
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    Application:
      type: object
      properties:
        name:
          type: string
          description: Application name
        display_name:
          type: string
          description: Application display name
        description:
          type: string
          description: Application description
        home_page_url:
          type: string
          description: Home page URL
        favicon:
          type: string
          description: Application favicon
        icon:
          type: string
          description: Application icon
      description: Application resource
    ApplicationSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/Application'
          relationships:
            type: object
            properties:
              categories:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IdType'
            description: Application categories
      description: Application specification
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
