openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes Collection Users API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Collection Users
  description: ''
paths:
  /v1/collections/{collection_id}/users:
    get:
      tags:
      - Collection Users
      operationId: V1_Collection_Users-index
      parameters:
      - name: collection_id
        description: Collection ID
        required: true
        in: path
        schema:
          type: integer
      - name: name
        description: filter by name. If friendly_name not found, will search by user_name
        required: false
        in: query
        schema:
          type: string
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      - name: sort
        description: 'Sort options, valid attributes: name'
        required: false
        in: query
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent local users information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollectionUserSpec'
      description: Show users belonging to a specific collection with the specified id.
      summary: Gets collection users
      security:
      - header_authorization: []
      x-controller: v1/collection_users
      x-action: index
    post:
      tags:
      - Collection Users
      operationId: V1_Collection_Users-create
      parameters:
      - name: collection_id
        description: Collection ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not add a user to a specified collection with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '201':
          description: Created collection basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollectionUserSpec'
      description: Add a new user to a specific collection with the specified id.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/collection_users
      x-action: create
      requestBody:
        description: Collection information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionUserCreateSpec'
  /v1/collections/{collection_id}/users/{id}:
    get:
      tags:
      - Collection Users
      operationId: V1_Collection_Users-show
      parameters:
      - name: collection_id
        description: The ID of the collection to search
        required: true
        in: path
        schema:
          type: integer
      - name: id
        description: The ID of the user to return
        required: true
        in: path
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: User and permission details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollectionUserSpec'
      description: Gets the user details and permissions for the specified organization.
      summary: Show user
      security:
      - header_authorization: []
      x-controller: v1/collection_users
      x-action: show
    delete:
      tags:
      - Collection Users
      operationId: V1_Collection_Users-destroy
      parameters:
      - name: collection_id
        description: The ID of the collection to search
        required: true
        in: path
        schema:
          type: integer
      - name: id
        description: The ID of the user to delete
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not delete collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '204':
          description: No Content
      description: Deletes a user from a collection.
      summary: Delete user
      security:
      - header_authorization: []
      x-controller: v1/collection_users
      x-action: destroy
components:
  schemas:
    CollectionUserSpec:
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/CollectionUserCreateSpec'
      required:
      - policy
      description: Collection creation request parameters
    CollectionUserCreateSpec:
      type: object
      properties:
        collection_id:
          type: integer
          description: Collection ID
        id:
          type: integer
          description: User ID
      required:
      - collection_id
      - id
      description: Collection User creation request parameters
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
