openapi: 3.2.0
info:
  title: DNSFilter Scheduled Report Previews API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Scheduled Report Previews
  description: ''
paths:
  /v1/scheduled_report_previews/{id}:
    get:
      tags:
      - Scheduled Report Previews
      operationId: V1_Scheduled_Report_Previews-show
      parameters:
      - name: id
        description: ScheduledReportPreview ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create scheduled report with the given data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: The scheduled report preview data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScheduledReportPreviewSpec'
      description: Gets the specified scheduled report preview.
      summary: Show preview
      security:
      - header_authorization: []
      x-controller: v1/scheduled_report_previews
      x-action: show
  /v1/scheduled_report_previews:
    post:
      tags:
      - Scheduled Report Previews
      operationId: V1_Scheduled_Report_Previews-create
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create scheduled report with the given data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: The created scheduled report preview
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScheduledReportPreviewSpec'
      description: Creates a scheduled report preview, triggering the background generation.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/scheduled_report_previews
      x-action: create
      requestBody:
        description: a scheduled report preview
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduled_report_preview:
                  $ref: '#/components/schemas/ScheduledReportPreviewCreate'
components:
  schemas:
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    ScheduledReportPreviewCreate:
      type: object
      properties:
        organization_id:
          type: integer
          description: The organization that owns the scheduled report
        include_threat_summary:
          type: boolean
          description: Report includes threat summary if true
        include_content_category_summary:
          type: boolean
          description: Report include content category summary if true
        content_categories_show_count:
          type: string
          enum:
          - all_categories
          - top5
          - top10
          - top15
          description: Number of categories to show
      description: Scheduled report preview creation params
    ScheduledReportPreview:
      allOf:
      - $ref: '#/components/schemas/ScheduledReportPreviewCreate'
      - type: object
        properties:
          url:
            type: string
            description: A presigned url to the report that will expire in 10 minutes. Blank if report isn't yet generated
      description: Scheduled report preview resource
    ScheduledReportPreviewSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/ScheduledReportPreview'
      description: Scheduled report preview specification
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
