openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes Network LAN IPs API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Network LAN IPs
  description: ''
paths:
  /v1/networks/{id}/lan_ips:
    get:
      tags:
      - Network LAN IPs
      operationId: V1_Network_LAN_IPs-index
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: LAN IPs basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkLanIpSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets network associated LAN IPs with basic information.
      summary: Get
      security:
      - header_authorization: []
      x-controller: v1/network_lan_ips
      x-action: index
  /v1/networks/{id}/lan_ips/{lan_ip_id}:
    get:
      tags:
      - Network LAN IPs
      operationId: V1_Network_LAN_IPs-show
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      - name: lan_ip_id
        description: LAN IP ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: LAN IP basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworkLanIpSpec'
      description: Gets network associated LAN IP with basic information.
      summary: Show Lan IP
      security:
      - header_authorization: []
      x-controller: v1/network_lan_ips
      x-action: show
    patch:
      tags:
      - Network LAN IPs
      operationId: V1_Network_LAN_IPs-update
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      - name: lan_ip_id
        description: LAN IP ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update LAN IP with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '200':
          description: LAN IP basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworkLanIpSpec'
      description: Updates a network LAN IP with the specified data.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/network_lan_ips
      x-action: update
      requestBody:
        description: LAN IP information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkLanIpUpdateSpec'
components:
  schemas:
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    NetworkLanIpUpdate:
      type: object
      properties:
        name:
          type: string
          description: LAN IP name or alias
      description: Network creation request parameters
    NetworkLanIpUpdateSpec:
      type: object
      properties:
        network_lan_ip:
          $ref: '#/components/schemas/NetworkLanIpUpdate'
      required:
      - network_lan_ip
      description: Network subnet creation request parameters
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    NetworkLanIp:
      type: object
      properties:
        version:
          type: integer
          description: LAN IP family version
        address:
          type: string
          description: LAN IP address
        name:
          type: string
          description: LAN IP name or alias (may be null)
        first_seen:
          type: string
          format: date
          description: First traffic seen from this address (may be null)
        last_seen:
          type: string
          format: date
          description: Last traffic seen from this address (may be null)
      description: User agent resource
    NetworkLanIpSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/NetworkLanIp'
          relationships:
            type: object
            properties:
              network:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
            description: LAN IP associated objects
      description: User agent specification
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
