openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes Block Pages API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Block Pages
  description: ''
paths:
  /v1/block_pages:
    get:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-index
      parameters:
      - name: organization_id
        description: Organization ID
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Block pages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockPage'
      description: Gets the list of block pages associated with the current user.
      summary: Get extant
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: index
    post:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-create
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create block_page with the specified data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: The created block page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockPage'
      description: Creates a new block page.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: create
      requestBody:
        description: Block page information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockPage'
  /v1/block_pages/all:
    get:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-all
      parameters:
      - name: organization_id
        description: Organization ID
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Block pages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockPage'
      description: Gets ALL block pages associated with the current user.
      summary: Get all
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: all
  /v1/block_pages/{id}:
    get:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-show
      parameters:
      - name: id
        description: BlockPage ID
        required: true
        in: path
        schema:
          type: integer
      - name: include_relationships
        description: Include relationships in the response true/false, defaults to true
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Block page data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockPage'
      description: Gets the specified block page.
      summary: Show page
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: show
    patch:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-update
      parameters:
      - name: id
        description: BlockPage ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update block page with the specified data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Updated block page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockPage'
      description: Updates a block_page with the specified data.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: update
      requestBody:
        description: Block page information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockPage'
    delete:
      tags:
      - Block Pages
      operationId: V1_Block_Pages-destroy
      parameters:
      - name: id
        description: BlockPage ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: The deleted block page data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockPage'
      description: Deletes a block page.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/block_pages
      x-action: destroy
components:
  schemas:
    BlockPage:
      type: object
      properties:
        name:
          type: string
          description: Name
        organization_id:
          type: integer
          description: The organization that owns the block page
        block_org_name:
          type: string
          description: The name of the organization to show on the block page. (may be null)
        block_email_addr:
          type: string
          description: The contact email address to show (may be null)
        block_logo_uuid:
          type: string
          description: The UUID of the custom logo uploaded to uploadcare.com (may be null)
        created_at:
          type: string
          format: date
          description: The block page created date
        updated_at:
          type: string
          format: date
          description: The last updated date of the block page
      description: Represents a custom block page
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
