openapi: 3.2.0
info:
  title: DNSFilter Dictionary Lookups API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Dictionary Lookups
  description: ''
paths:
  /v1/dictionary/qp_methods:
    get:
      tags:
      - Dictionary Lookups
      operationId: V1_Dictionary_Lookups-qp_methods
      parameters: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: QP Methods
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    allow:
                      type: boolean
                    name:
                      type: string
                    description:
                      type: string
      summary: List QP Methods
      x-controller: v1/dictionary
      x-action: qp_methods
  /v2/dictionary/ai_applications:
    get:
      tags:
      - Dictionary Lookups
      operationId: V2_Dictionary_Lookups-ai_applications
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Return a list of AI Applications and websites.
      summary: AI Applications
      x-controller: v2/dictionary
      x-action: ai_applications
  /v2/dictionary/cyber_sight_activity_types:
    get:
      tags:
      - Dictionary Lookups
      operationId: V2_Dictionary_Lookups-cyber_sight_activity_types
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CyberSightActivityType'
      description: Returns all available CyberSightReports activity types.
      summary: CyberSight Activity Types
      x-controller: v2/dictionary
      x-action: cyber_sight_activity_types
  /v2/dictionary/vpn_settings_state_types:
    get:
      tags:
      - Dictionary Lookups
      operationId: V2_Dictionary_Lookups-vpn_settings_state_types
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VpnSettingsStateType'
      description: Returns all available VPN Settings State types.
      summary: VPN Settings State Types
      x-controller: v2/dictionary
      x-action: vpn_settings_state_types
components:
  schemas:
    CyberSightActivityType:
      type: object
      properties:
        id:
          type: integer
          description: Activity type ID
        name:
          type: string
          description: The name of the activity type
        friendly_name:
          type: string
          description: The friendly/display name that can be shown to the user
        description:
          type: string
          description: Simple description of the activity
      description: Activity Types
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    VpnSettingsStateType:
      type: object
      properties:
        id:
          type: integer
          description: State type ID
        name:
          type: string
          description: The name of the state type
        friendly_name:
          type: string
          description: The friendly/display name that can be shown to the user
        description:
          type: string
          description: Simple description of the state type
      description: Vpn Settings State Types
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
