openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes Metrics API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Metrics
  description: ''
paths:
  /v1/metrics/organization_usage/{id}:
    get:
      tags:
      - Metrics
      operationId: V1_Metrics-organization_usage
      parameters:
      - name: from
        description: 'Date in IS08601 format, ex: "2023-12-01"'
        required: true
        in: query
        schema:
          type: string
          format: date
      - name: id
        description: Organization ID
        required: true
        in: path
        schema:
          type: integer
      - name: to
        description: 'Date in IS08601 format, ex: "2023-12-01".'
        required: true
        in: query
        schema:
          type: string
          format: date
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: JSON formatted result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      organization_id:
                        type: integer
                      plan:
                        type: string
                      term:
                        type: string
                      user_count:
                        type: integer
                      wifi_count:
                        type: integer
                      total_requests:
                        type: integer
                      estimated_users:
                        type: integer
                      from:
                        type: string
                        format: date
                      to:
                        type: string
                        format: date
                      days_in_period:
                        type: integer
                  meta:
                    type: object
                    properties:
                      queries_per_user:
                        type: integer
      description: 'Gets usage information for the given Organization over the given date

        range. Maximum date range is 365 days.'
      summary: Get usage
      security:
      - header_authorization: []
      x-controller: v1/metrics
      x-action: organization_usage
  /v1/metrics/organization_usage_detailed/{id}:
    get:
      tags:
      - Metrics
      operationId: V1_Metrics-organization_usage_detailed
      parameters:
      - name: from
        description: 'Date in IS08601 format, ex: "2023-12-01"'
        required: false
        in: query
        schema:
          type: string
          format: date
      - name: id
        description: Organization ID
        required: true
        in: path
        schema:
          type: integer
      - name: to
        description: 'Date in IS08601 format, ex: "2023-12-01".'
        required: false
        in: query
        schema:
          type: string
          format: date
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: JSON formatted result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      organization_id:
                        type: integer
                      plan:
                        type: string
                      term:
                        type: string
                      user_count:
                        type: integer
                      wifi_count:
                        type: integer
                      roaming_client_count:
                        type: integer
                      mobile_roaming_client_count:
                        type: integer
                      total_requests:
                        type: integer
                      estimated_users:
                        type: integer
                      from:
                        type: string
                        format: date
                      to:
                        type: string
                        format: date
                      days_in_period:
                        type: integer
                  meta:
                    type: object
                    properties:
                      queries_per_user:
                        type: integer
      description: 'Gets usage information for the given organization.


        This differs from +organization_usage+ in the way +user_count+/+wifi_count+ are fetched from the DB,

        also these endpoints returns a roaming client count.'
      summary: Get usage detailed
      security:
      - header_authorization: []
      x-controller: v1/metrics
      x-action: organization_usage_detailed
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
