openapi: 3.2.0
info:
  title: DNSFilter User Agent Cleanups API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: User Agent Cleanups
  description: ''
paths:
  /v1/user_agent_cleanups:
    post:
      tags:
      - User Agent Cleanups
      operationId: V1_User_Agent_Cleanups-create
      parameters: []
      responses:
        '200':
          description: User agent cleanup
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserAgentCleanup'
      description: Creates a user agent cleanup to track bulk deletion of user agents.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/user_agent_cleanups
      x-action: create
      requestBody:
        description: User agent cleanup information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAgentCleanupCreate'
  /v1/user_agent_cleanups/{id}:
    get:
      tags:
      - User Agent Cleanups
      operationId: V1_User_Agent_Cleanups-show
      parameters:
      - name: id
        description: Id of user agent cleanup
        required: true
        in: path
        schema:
          type: integer
      responses:
        '200':
          description: User agent cleanup
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserAgentCleanup'
      description: Gets the specific user agent cleanup.
      summary: Show
      security:
      - header_authorization: []
      x-controller: v1/user_agent_cleanups
      x-action: show
    put:
      tags:
      - User Agent Cleanups
      operationId: V1_User_Agent_Cleanups-update
      parameters:
      - name: id
        description: Id of user agent cleanup
        required: true
        in: path
        schema:
          type: integer
      responses:
        '200':
          description: User agent cleanup
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserAgentCleanup'
      description: Updates a user agent cleanup.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/user_agent_cleanups
      x-action: update
      requestBody:
        description: start property will start the cleanup and will do nothing if inactive_for is included. inactive_for is the number of inactive days, updating restarts job to find RCs to delete.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAgentCleanupUpdate'
components:
  schemas:
    UserAgentCleanupUpdate:
      type: object
      properties:
        start:
          type: boolean
          description: Start the cleanup, will do nothing if inactive_for is included
        inactive_for:
          type: integer
          description: The number of inactive days, updating restarts job to find RCs to delete
      description: User agent cleanup update
    UserAgentCleanup:
      type: object
      properties:
        inactive_for:
          type: integer
          description: the number of inactive days for user agent to be included in cleanup
        organization_id:
          type: integer
          description: Organization resource ID - deprecated
        organization_ids:
          type: array
          items:
            type: integer
          description: Organization resource IDs
        query_completed:
          type: boolean
          description: true if query to find inactive agents completed
        started:
          type: boolean
          description: true if cleanup process started
        completed:
          type: boolean
          description: true if cleanup process completed
        to_delete:
          type: array
          items:
            type: string
          description: name of agents to be deleted
        agents_to_delete:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              organization_name:
                type: string
          description: agents to be deleted
      description: User agent cleanups
    UserAgentCleanupCreate:
      type: object
      properties:
        organization_id:
          type: integer
          description: Organization ID - deprecated
        organization_ids:
          type: array
          items:
            type: integer
          description: List of Organization IDs
        inactive_for:
          type: integer
          description: The number of inactive days
      required:
      - organization_ids
      - inactive_for
      description: User agent cleanup create
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
