openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes User Agent CSV Exports API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: User Agent CSV Exports
  description: ''
paths:
  /v1/user_agent_csv_exports:
    post:
      tags:
      - User Agent CSV Exports
      operationId: V1_User_Agent_CSV_Exports-create
      parameters: []
      responses:
        '200':
          description: User agent csv export
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserAgentCsvExport'
      description: Creates a user agent csv export record to track export of user agents.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/user_agent_csv_exports
      x-action: create
      requestBody:
        description: User agent csv export information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAgentCsvExportCreate'
  /v1/user_agent_csv_exports/{id}:
    get:
      tags:
      - User Agent CSV Exports
      operationId: V1_User_Agent_CSV_Exports-show
      parameters:
      - name: id
        description: Id of user agent csv export
        required: true
        in: path
        schema:
          type: integer
      responses:
        '200':
          description: User agent csv export
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserAgentCsvExport'
      description: Gets the specific user agent csv export.
      summary: Show
      security:
      - header_authorization: []
      x-controller: v1/user_agent_csv_exports
      x-action: show
components:
  schemas:
    UserAgentCsvExportCreate:
      type: object
      properties:
        user_agent_csv_export:
          type: object
          properties:
            organization_ids:
              type: array
              items:
                type: integer
            msp_id:
              type: integer
            ids:
              type: array
              items:
                type: string
          description: CSV export attributes
        network_ids:
          type: array
          items:
            type: integer
          description: Networks IDs, defaults to all
        type:
          type: string
          enum:
          - proxy
          - agents
          description: User agent type, defaults to non-proxy/no-relays user agents
        search:
          type: string
          description: 'User agent list by keyword(s) (space delimited), this could be: hostname, friendly name'
        name_search:
          type: string
          description: A search term to search client name fields (i.e. hostname and friendly_name)
        tags:
          type: array
          items:
            type: string
          description: User agent list by tags
        status:
          type: string
          description: 'filter by user agent status, valid attributes: active, disabled, uninstalled'
        state:
          type: string
          enum:
          - online
          - offline
          description: filter by user agent online/offline state
        agent_state:
          type: string
          enum:
          - protected
          - unprotected
          - bypassed
          - uninstalled
          description: filter by agent state
        traffic_received_last_15_mins:
          type: boolean
          description: filter by agents that have received traffic in last 15 minutes
      description: User agent csv export
    UserAgentCsvExport:
      type: object
      properties:
        id:
          type: integer
          description: User agent csv export ID
        organization_ids:
          type: array
          items:
            type: integer
          description: Organization IDs
        url:
          type: string
          description: URL to download the CSV
        error:
          type: string
          description: Error message if export failed
      description: User agent csv export
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
