openapi: 3.2.0
info:
  title: DNSFilter Network LAN IPs API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Network LAN IPs
  description: ''
paths:
  /v1/networks/{id}/lan_ips:
    get:
      tags:
      - Network LAN IPs
      operationId: V1_Network_LAN_IPs-index
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: LAN IPs basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkLanIpSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets network associated LAN IPs with basic information.
      summary: Get
      security:
      - header_authorization: []
      x-controller: v1/network_lan_ips
      x-action: index
  /v1/networks/{id}/lan_ips/{lan_ip_id}:
    get:
      tags:
      - Network LAN IPs
      operationId: V1_Network_LAN_IPs-show
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      - name: lan_ip_id
        description: LAN IP ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: LAN IP basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworkLanIpSpec'
      description: Gets network associated LAN IP with basic information.
      summary: Show Lan IP
      security:
      - header_authorization: []
      x-controller: v1/network_lan_ips
      x-action: show
    patch:
      tags:
      - Network LAN IPs
      operationId: V1_Network_LAN_IPs-update
      parameters:
      - name: id
        description: Network ID
        required: true
        in: path
        schema:
          type: integer
      - name: lan_ip_id
        description: LAN IP ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update LAN IP with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '200':
          description: LAN IP basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworkLanIpSpec'
      description: Updates a network LAN IP with the specified data.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/network_lan_ips
      x-action: update
      requestBody:
        description: LAN IP information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkLanIpUpdateSpec'
components:
  schemas:
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    NetworkLanIpUpdate:
      type: object
      properties:
        name:
          type: string
          description: LAN IP name or alias
      description: Network creation request parameters
    NetworkLanIpUpdateSpec:
      type: object
      properties:
        network_lan_ip:
          $ref: '#/components/schemas/NetworkLanIpUpdate'
      required:
      - network_lan_ip
      description: Network subnet creation request parameters
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    NetworkLanIpSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/NetworkLanIp'
          relationships:
            type: object
            properties:
              network:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
            description: LAN IP associated objects
      description: User agent specification
    NetworkLanIp:
      type: object
      properties:
        version:
          type: integer
          description: LAN IP family version
        address:
          type: string
          description: LAN IP address
        name:
          type: string
          description: LAN IP name or alias (may be null)
        first_seen:
          type: string
          format: date
          description: First traffic seen from this address (may be null)
        last_seen:
          type: string
          format: date
          description: Last traffic seen from this address (may be null)
      description: User agent resource
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
