openapi: 3.2.0
info:
  title: DNSFilter User Agent CSV Exports API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: User Agent CSV Exports
  description: ''
paths:
  /v1/user_agent_csv_exports:
    post:
      tags:
      - User Agent CSV Exports
      operationId: V1_User_Agent_CSV_Exports-create
      parameters: []
      responses:
        '200':
          description: User agent csv export
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserAgentCsvExport'
      description: Creates a user agent csv export record to track export of user agents.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/user_agent_csv_exports
      x-action: create
      requestBody:
        description: User agent csv export information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAgentCsvExportCreate'
  /v1/user_agent_csv_exports/{id}:
    get:
      tags:
      - User Agent CSV Exports
      operationId: V1_User_Agent_CSV_Exports-show
      parameters:
      - name: id
        description: Id of user agent csv export
        required: true
        in: path
        schema:
          type: integer
      responses:
        '200':
          description: User agent csv export
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserAgentCsvExport'
      description: Gets the specific user agent csv export.
      summary: Show
      security:
      - header_authorization: []
      x-controller: v1/user_agent_csv_exports
      x-action: show
components:
  schemas:
    UserAgentCsvExportCreate:
      type: object
      properties:
        user_agent_csv_export:
          type: object
          properties:
            organization_ids:
              type: array
              items:
                type: integer
            msp_id:
              type: integer
            ids:
              type: array
              items:
                type: string
          description: CSV export attributes
        network_ids:
          type: array
          items:
            type: integer
          description: Networks IDs, defaults to all
        type:
          type: string
          enum:
          - proxy
          - agents
          description: User agent type, defaults to non-proxy/no-relays user agents
        search:
          type: string
          description: 'User agent list by keyword(s) (space delimited), this could be: hostname, friendly name'
        name_search:
          type: string
          description: A search term to search client name fields (i.e. hostname and friendly_name)
        tags:
          type: array
          items:
            type: string
          description: User agent list by tags
        status:
          type: string
          description: 'filter by user agent status, valid attributes: active, disabled, uninstalled'
        state:
          type: string
          enum:
          - online
          - offline
          description: filter by user agent online/offline state
        agent_state:
          type: string
          enum:
          - protected
          - unprotected
          - bypassed
          - uninstalled
          description: filter by agent state
        traffic_received_last_15_mins:
          type: boolean
          description: filter by agents that have received traffic in last 15 minutes
      description: User agent csv export
    UserAgentCsvExport:
      type: object
      properties:
        id:
          type: integer
          description: User agent csv export ID
        organization_ids:
          type: array
          items:
            type: integer
          description: Organization IDs
        url:
          type: string
          description: URL to download the CSV
        error:
          type: string
          description: Error message if export failed
      description: User agent csv export
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
