openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes Networks CSV Exports API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Networks CSV Exports
  description: ''
paths:
  /v2/networks_csv_export:
    post:
      tags:
      - Networks CSV Exports
      operationId: V2_Networks_CSV_Exports-create
      parameters:
      - name: ip_search
        description: Network ip/hostname search
        required: false
        in: query
        schema:
          type: string
      - name: protected
        description: Network status of protected
        required: false
        in: query
        schema:
          type: boolean
      - name: search
        description: Network name search
        required: false
        in: query
        schema:
          type: string
      - name: state
        description: Network status search (online/offline)
        required: false
        in: query
        schema:
          type: string
      - name: unprotected
        description: Network status of protected
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Network csv export
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworksCsvExport'
      description: Creates a networks csv export record to track export of networks.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v2/networks_csv_export
      x-action: create
      requestBody:
        description: Network csv export information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworksCsvExportCreate'
  /v2/networks_csv_export/{id}:
    get:
      tags:
      - Networks CSV Exports
      operationId: V2_Networks_CSV_Exports-show
      parameters:
      - name: id
        description: Id of Network csv export
        required: true
        in: path
        schema:
          type: integer
      responses:
        '200':
          description: Network csv export
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NetworksCsvExport'
      description: Shows a networks csv export.
      summary: Show
      security:
      - header_authorization: []
      x-controller: v2/networks_csv_export
      x-action: show
components:
  schemas:
    NetworksCsvExportCreate:
      type: object
      properties:
        networks_csv_export:
          type: object
          properties:
            organization_ids:
              type: array
              items:
                type: integer
            msp_id:
              type: integer
            ids:
              type: array
              items:
                type: integer
          description: CSV export attributes
      description: Networks csv export
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    NetworksCsvExport:
      type: object
      properties:
        id:
          type: integer
          description: Networks csv export ID
        organization_ids:
          type: array
          items:
            type: integer
          description: Organization IDs
        url:
          type: string
          description: URL to download the CSV
        error:
          type: string
          description: Error message if export failed
      description: Networks csv export
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
