openapi: 3.2.0
info:
  title: DNSFilter User Agent Releases API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: User Agent Releases
  description: ''
paths:
  /v1/user_agent_releases:
    get:
      tags:
      - User Agent Releases
      operationId: V1_User_Agent_Releases-index
      parameters: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: A list of user agent releases
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_agent_releases:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserAgentRelease'
      description: 'Gets a list of latest user agent releases for each unique combination of

        agent_type, architecture, release_channels, and white label.'
      summary: Get
      security:
      - header_authorization: []
      x-controller: v1/user_agent_releases
      x-action: index
  /v1/user_agent_releases/relay:
    get:
      tags:
      - User Agent Releases
      operationId: V1_User_Agent_Releases-relay
      parameters: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: A list of user agent releases
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_agent_releases:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserAgentRelease'
      description: 'Gets a list of latest relay releases for each unique combination of

        architecture, release_channels, and white label.'
      summary: Get relay
      security:
      - header_authorization: []
      x-controller: v1/user_agent_releases
      x-action: relay
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    UserAgentRelease:
      type: object
      properties:
        agent_type:
          type: string
          enum:
          - windows
          - macos
          description: Agent type
        architecture:
          type: string
          enum:
          - x86
          - x86_64
          description: Architecture for the release
        agent_version:
          type: string
          description: A version number in semver format
        white_label:
          type: boolean
          description: true if white label release, false otherwise
        release_channels:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: string
              visible:
                type: boolean
          description: An array of objects with values including "stable" or "beta", and corresponding labels
        url:
          type: string
          description: The location of the release
      description: User agent release resource
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
