openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes Scheduled Report Previews API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Scheduled Report Previews
  description: ''
paths:
  /v1/scheduled_report_previews/{id}:
    get:
      tags:
      - Scheduled Report Previews
      operationId: V1_Scheduled_Report_Previews-show
      parameters:
      - name: id
        description: ScheduledReportPreview ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create scheduled report with the given data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: The scheduled report preview data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScheduledReportPreviewSpec'
      description: Gets the specified scheduled report preview.
      summary: Show preview
      security:
      - header_authorization: []
      x-controller: v1/scheduled_report_previews
      x-action: show
  /v1/scheduled_report_previews:
    post:
      tags:
      - Scheduled Report Previews
      operationId: V1_Scheduled_Report_Previews-create
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create scheduled report with the given data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: The created scheduled report preview
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScheduledReportPreviewSpec'
      description: Creates a scheduled report preview, triggering the background generation.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/scheduled_report_previews
      x-action: create
      requestBody:
        description: a scheduled report preview
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduled_report_preview:
                  $ref: '#/components/schemas/ScheduledReportPreviewCreate'
components:
  schemas:
    ScheduledReportPreview:
      allOf:
      - $ref: '#/components/schemas/ScheduledReportPreviewCreate'
      - type: object
        properties:
          url:
            type: string
            description: A presigned url to the report that will expire in 10 minutes. Blank if report isn't yet generated
      description: Scheduled report preview resource
    ScheduledReportPreviewCreate:
      type: object
      properties:
        organization_id:
          type: integer
          description: The organization that owns the scheduled report
        include_threat_summary:
          type: boolean
          description: Report includes threat summary if true
        include_content_category_summary:
          type: boolean
          description: Report include content category summary if true
        content_categories_show_count:
          type: string
          enum:
          - all_categories
          - top5
          - top10
          - top15
          description: Number of categories to show
      description: Scheduled report preview creation params
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    ScheduledReportPreviewSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/ScheduledReportPreview'
      description: Scheduled report preview specification
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
