openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes MAC Addresses API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: MAC Addresses
  description: ''
paths:
  /v1/mac_addresses:
    get:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-index
      parameters:
      - name: organization_ids
        description: Organization IDs, defaults to user organization ID
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: MAC addresses basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MacAddressSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets the MAC addresses associated to an organization with basic information.
      summary: Get extant
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: index
    post:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-create
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create the MAC address with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '201':
          description: Created MAC address basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MacAddressSpec'
      description: Creates a new MAC address with the specified data.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: create
      requestBody:
        description: MAC address information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MacAddressCreateSpec'
  /v1/mac_addresses/all:
    get:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-all
      parameters:
      - name: organization_ids
        description: Organization IDs, defaults to user organization ID
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: MAC addresses basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MacAddressSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets ALL MAC addresses associated to an user with basic information.
      summary: Get all
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: all
  /v1/mac_addresses/{id}:
    get:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-show
      parameters:
      - name: id
        description: MAC address ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: MAC address basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MacAddressSpec'
      description: Gets basic information of the specified MAC address.
      summary: Show address
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: show
    patch:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-update
      parameters:
      - name: id
        description: MAC address ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update MAC address with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '200':
          description: Updated MAC address basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MacAddressSpec'
      description: Updates a MAC address with the specified data.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: update
      requestBody:
        description: MAC address information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MacAddressCreateSpec'
    delete:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-destroy
      parameters:
      - name: id
        description: MAC address ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Removed MAC address basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MacAddressSpec'
      description: Deletes a MAC address.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: destroy
components:
  schemas:
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    MacAddressCreate:
      type: object
      properties:
        organization_id:
          type: integer
          description: Organization ID
        address:
          type: string
          description: MAC address with colons *aa:bb:cc:dd:ee:ff*
        filter_value:
          type: string
          description: Obfuscated MAC address value, defaults to MAC address without colons
        policy_id:
          type: integer
          description: 'MAC address custom policy ID, *NOTE*: will be ignored and unset if *scheduled_policy_id* is set'
        scheduled_policy_id:
          type: integer
          description: MAC address custom scheduled policy ID
        block_page_id:
          type: integer
          description: MAC address custom block page ID
      required:
      - organization_id
      description: MAC address creation request parameters
    MacAddressCreateSpec:
      type: object
      properties:
        mac_address:
          $ref: '#/components/schemas/MacAddressCreate'
      required:
      - mac_address
      description: MAC address creation request parameters
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    MacAddress:
      type: object
      properties:
        address:
          type: string
          description: MAC address (may be null)
        filter_value:
          type: string
          description: Value used to filter queries
        created_at:
          type: string
          format: date
          description: Creation date
        updated_at:
          type: string
          format: date
          description: Last update
      description: MAC address resource
    MacAddressSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/MacAddress'
          relationships:
            type: object
            properties:
              organization:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
              policy:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
              scheduled_policy:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
              block_page:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
            description: MAC address associated objects
      description: MAC address specification
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
