openapi: 3.2.0
info:
  title: DNSFilter Policies Bulk Actions API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Policies Bulk Actions
  description: ''
paths:
  /v1/policies/bulk/add_allowlist_domains:
    post:
      tags:
      - Policies Bulk Actions
      operationId: V1_Policies_Bulk_Actions-add_allowlist_domains
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyBulkActionsListDomainsResponse'
      description: Adds one or more domains to one or more policy's allow list.
      summary: Bulk add allow
      security:
      - header_authorization: []
      x-controller: v1/policies_bulk_actions
      x-action: add_allowlist_domains
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyBulkActionListDomains'
  /v1/policies/bulk/remove_allowlist_domains:
    post:
      tags:
      - Policies Bulk Actions
      operationId: V1_Policies_Bulk_Actions-remove_allowlist_domains
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyBulkActionsListDomainsResponse'
      description: Removes one or more domains from one or more policy's allow list.
      summary: Bulk delete allow
      security:
      - header_authorization: []
      x-controller: v1/policies_bulk_actions
      x-action: remove_allowlist_domains
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyBulkActionListDomains'
  /v1/policies/bulk/add_blocklist_domains:
    post:
      tags:
      - Policies Bulk Actions
      operationId: V1_Policies_Bulk_Actions-add_blocklist_domains
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyBulkActionsListDomainsResponse'
      description: Adds one or more domains to one or more policy's block list.
      summary: Bulk add block
      security:
      - header_authorization: []
      x-controller: v1/policies_bulk_actions
      x-action: add_blocklist_domains
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyBulkActionListDomains'
  /v1/policies/bulk/remove_blocklist_domains:
    post:
      tags:
      - Policies Bulk Actions
      operationId: V1_Policies_Bulk_Actions-remove_blocklist_domains
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyBulkActionsListDomainsResponse'
      description: Removes one or more domains from one or more policy's block list.
      summary: Bulk delete block
      security:
      - header_authorization: []
      x-controller: v1/policies_bulk_actions
      x-action: remove_blocklist_domains
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyBulkActionListDomains'
components:
  schemas:
    PolicyBulkActionListDomains:
      type: object
      properties:
        domains:
          type: array
          items:
            type: string
          description: Domains to add/remove
        notes:
          type: object
          properties:
            string:
              type: string
          description: Domain/Note key/values
        policy_ids:
          type: array
          items:
            type: integer
          description: Policy IDs to operate on
      description: Payload for policy bulk actions for allow/block lists
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    PolicyBulkActionsListDomainsResponse:
      type: object
      properties:
        success:
          type: array
          items:
            type: integer
          description: Policy IDs that were successfully updated
        failure:
          type: array
          items:
            type: integer
          description: Policy IDs that failed to update
        noop:
          type: array
          items:
            type: integer
          description: Policy IDs that required no update
      description: Response for policy bulk actions for allow/block lists
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
