openapi: 3.2.0
info:
  title: DNSFilter PSA Integrations API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: PSA Integrations
  description: ''
paths:
  /v1/psa_integrations/redirect_link:
    get:
      tags:
      - PSA Integrations
      operationId: V1_PSA_Integrations-redirect_link
      parameters:
      - name: organization_id
        description: The ID of the organization to get the redirection link for
        required: false
        in: query
        schema:
          type: integer
      - name: psa_name
        description: The name of the PSA to be integrated with
        required: false
        in: query
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable integration request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: A redirect URL
          content:
            application/json:
              schema:
                type: string
      description: Creates a new PSA integration, if one does not exist and returns the redirect link.
      summary: Create link
      security:
      - header_authorization: []
      x-controller: v1/psa_integrations
      x-action: redirect_link
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
