openapi: 3.2.0
info:
  title: DNSFilter Scheduled Policies API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Scheduled Policies
  description: ''
paths:
  /v1/scheduled_policies:
    get:
      tags:
      - Scheduled Policies
      operationId: V1_Scheduled_Policies-index
      parameters:
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Scheduled policies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduledPolicy'
      description: Gets the list of scheduled policies associated with the current user.
      summary: Get extant
      security:
      - header_authorization: []
      x-controller: v1/scheduled_policies
      x-action: index
    post:
      tags:
      - Scheduled Policies
      operationId: V1_Scheduled_Policies-create
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create scheduled_policy with the specified data
        '201':
          description: The created scheduled policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledPolicy'
      description: Creates a new scheduled policy.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/scheduled_policies
      x-action: create
      requestBody:
        description: The scheduled policy details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledPolicy'
  /v1/scheduled_policies/all:
    get:
      tags:
      - Scheduled Policies
      operationId: V1_Scheduled_Policies-all
      parameters:
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Scheduled policies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduledPolicy'
      description: Gets ALL scheduled policies associated with the current user.
      summary: Get all
      security:
      - header_authorization: []
      x-controller: v1/scheduled_policies
      x-action: all
  /v1/scheduled_policies/{id}:
    get:
      tags:
      - Scheduled Policies
      operationId: V1_Scheduled_Policies-show
      parameters:
      - name: id
        description: ScheduledPolicy ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: The scheduled policy data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledPolicy'
      description: Gets the specified scheduled policy.
      summary: Show policy
      security:
      - header_authorization: []
      x-controller: v1/scheduled_policies
      x-action: show
    patch:
      tags:
      - Scheduled Policies
      operationId: V1_Scheduled_Policies-update
      parameters:
      - name: id
        description: ScheduledPolicy ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update scheduled policy with the specified data
        '200':
          description: Updated scheduled policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledPolicy'
      description: Updates a scheduled policy in the database with the specified data.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/scheduled_policies
      x-action: update
      requestBody:
        description: The scheduled policy details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledPolicy'
    delete:
      tags:
      - Scheduled Policies
      operationId: V1_Scheduled_Policies-destroy
      parameters:
      - name: id
        description: ScheduledPolicy ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '204':
          description: No Content
      description: Removes a scheduled policy from the database.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/scheduled_policies
      x-action: destroy
components:
  schemas:
    ScheduledPolicy:
      type: object
      properties:
        name:
          type: string
          description: Name
        organization_id:
          type: integer
          description: The organization that owns the block page
        policy_ids:
          type: array
          items:
            type: integer
          description: 672 ids representing 15 minute blocks starting Monday morning 12:01am
        timezone:
          type: string
          description: The timezone string (e.g. America/New_York) for localizing the policy
      description: Represents a time based policy
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
