openapi: 3.2.0
info:
  title: DNSFilter MAC Addresses API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: MAC Addresses
  description: ''
paths:
  /v1/mac_addresses:
    get:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-index
      parameters:
      - name: organization_ids
        description: Organization IDs, defaults to user organization ID
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: MAC addresses basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MacAddressSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets the MAC addresses associated to an organization with basic information.
      summary: Get extant
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: index
    post:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-create
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create the MAC address with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '201':
          description: Created MAC address basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MacAddressSpec'
      description: Creates a new MAC address with the specified data.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: create
      requestBody:
        description: MAC address information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MacAddressCreateSpec'
  /v1/mac_addresses/all:
    get:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-all
      parameters:
      - name: organization_ids
        description: Organization IDs, defaults to user organization ID
        required: false
        in: query
        schema:
          type: array
          items:
            type: integer
        explode: true
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: MAC addresses basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MacAddressSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets ALL MAC addresses associated to an user with basic information.
      summary: Get all
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: all
  /v1/mac_addresses/{id}:
    get:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-show
      parameters:
      - name: id
        description: MAC address ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: MAC address basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MacAddressSpec'
      description: Gets basic information of the specified MAC address.
      summary: Show address
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: show
    patch:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-update
      parameters:
      - name: id
        description: MAC address ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update MAC address with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '200':
          description: Updated MAC address basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MacAddressSpec'
      description: Updates a MAC address with the specified data.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: update
      requestBody:
        description: MAC address information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MacAddressCreateSpec'
    delete:
      tags:
      - MAC Addresses
      operationId: V1_MAC_Addresses-destroy
      parameters:
      - name: id
        description: MAC address ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Removed MAC address basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MacAddressSpec'
      description: Deletes a MAC address.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/mac_addresses
      x-action: destroy
components:
  schemas:
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    MacAddress:
      type: object
      properties:
        address:
          type: string
          description: MAC address (may be null)
        filter_value:
          type: string
          description: Value used to filter queries
        created_at:
          type: string
          format: date
          description: Creation date
        updated_at:
          type: string
          format: date
          description: Last update
      description: MAC address resource
    MacAddressSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/MacAddress'
          relationships:
            type: object
            properties:
              organization:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
              policy:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
              scheduled_policy:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
              block_page:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IdType'
            description: MAC address associated objects
      description: MAC address specification
    MacAddressCreateSpec:
      type: object
      properties:
        mac_address:
          $ref: '#/components/schemas/MacAddressCreate'
      required:
      - mac_address
      description: MAC address creation request parameters
    MacAddressCreate:
      type: object
      properties:
        organization_id:
          type: integer
          description: Organization ID
        address:
          type: string
          description: MAC address with colons *aa:bb:cc:dd:ee:ff*
        filter_value:
          type: string
          description: Obfuscated MAC address value, defaults to MAC address without colons
        policy_id:
          type: integer
          description: 'MAC address custom policy ID, *NOTE*: will be ignored and unset if *scheduled_policy_id* is set'
        scheduled_policy_id:
          type: integer
          description: MAC address custom scheduled policy ID
        block_page_id:
          type: integer
          description: MAC address custom block page ID
      required:
      - organization_id
      description: MAC address creation request parameters
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
