openapi: 3.2.0
info:
  title: DNSFilter Users API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Users
  description: ''
paths:
  /v1/users:
    get:
      tags:
      - Users
      operationId: V1_Users-index
      parameters:
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Users basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets users basic information.
      summary: Get extant
      security:
      - header_authorization: []
      x-controller: v1/users
      x-action: index
  /v1/users/all:
    get:
      tags:
      - Users
      operationId: V1_Users-all
      parameters:
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Users basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets ALL users basic information.
      summary: Get all
      security:
      - header_authorization: []
      x-controller: v1/users
      x-action: all
  /v1/users/{id}:
    get:
      tags:
      - Users
      operationId: V1_Users-show
      parameters:
      - name: id
        description: User ID
        required: true
        in: path
        schema:
          oneOf:
          - type: integer
          - type: string
            enum:
            - self
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: User basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserSpec'
      description: Gets basic information of the specified user.
      summary: Show user
      security:
      - header_authorization: []
      x-controller: v1/users
      x-action: show
  /v1/users/change_password:
    patch:
      tags:
      - Users
      operationId: V1_Users-change_password
      parameters: []
      responses:
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
      description: Changes the password for the currently authenticated user.
      summary: Change password
      security:
      - header_authorization: []
      x-controller: v1/users
      x-action: change_password
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                new_password:
                  type: string
components:
  schemas:
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    User:
      type: object
      properties:
        name:
          type: string
          description: Name
        email:
          type: string
          description: Email address
        email_verified:
          type: boolean
          description: Email address is verified (may be null)
        created_at:
          type: string
          format: date
          description: Creation date
        updated_at:
          type: string
          format: date
          description: Last update
        has_agreements_to_sign:
          type: boolean
          description: User has agreements to sign
        can_add_org_to_msps:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
          description: Optional list of MSPs user can add organizations to
      description: User resource
    UserSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/User'
      description: User specification
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
