openapi: 3.2.0
info:
  title: DNSFilter Policy IPs API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Policy IPs
  description: ''
paths:
  /v1/policy_ips:
    get:
      tags:
      - Policy IPs
      operationId: V1_Policy_IPs-index
      parameters: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Policy IPs basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PolicyIpSpec'
      description: Gets user associated policies IPs basic information from database.
      summary: Get
      security:
      - header_authorization: []
      x-controller: v1/policy_ips
      x-action: index
  /v1/policy_ips/{id}:
    get:
      tags:
      - Policy IPs
      operationId: V1_Policy_IPs-show
      parameters:
      - name: id
        description: Policy IP ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Policy IP basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PolicyIpSpec'
      description: Gets basic information of the specified Policy IP.
      summary: Show IP
      security:
      - header_authorization: []
      x-controller: v1/policy_ips
      x-action: show
components:
  schemas:
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    PolicyIpSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/PolicyIp'
      description: Policy IP specification
    PolicyIp:
      type: object
      properties:
        friendly_id:
          type: integer
          description: Policy IP ID
        primary_address:
          type: string
          description: NAT primary address
        secondary_address:
          type: string
          description: NAT secondary address
      description: Policy IP resource
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
