openapi: 3.2.0
info:
  title: DNSFilter Metrics API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Metrics
  description: ''
paths:
  /v1/metrics/organization_usage/{id}:
    get:
      tags:
      - Metrics
      operationId: V1_Metrics-organization_usage
      parameters:
      - name: from
        description: 'Date in IS08601 format, ex: "2023-12-01"'
        required: true
        in: query
        schema:
          type: string
          format: date
      - name: id
        description: Organization ID
        required: true
        in: path
        schema:
          type: integer
      - name: to
        description: 'Date in IS08601 format, ex: "2023-12-01".'
        required: true
        in: query
        schema:
          type: string
          format: date
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: JSON formatted result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      organization_id:
                        type: integer
                      plan:
                        type: string
                      term:
                        type: string
                      user_count:
                        type: integer
                      wifi_count:
                        type: integer
                      total_requests:
                        type: integer
                      estimated_users:
                        type: integer
                      from:
                        type: string
                        format: date
                      to:
                        type: string
                        format: date
                      days_in_period:
                        type: integer
                  meta:
                    type: object
                    properties:
                      queries_per_user:
                        type: integer
      description: 'Gets usage information for the given Organization over the given date

        range. Maximum date range is 365 days.'
      summary: Get usage
      security:
      - header_authorization: []
      x-controller: v1/metrics
      x-action: organization_usage
  /v1/metrics/organization_usage_detailed/{id}:
    get:
      tags:
      - Metrics
      operationId: V1_Metrics-organization_usage_detailed
      parameters:
      - name: from
        description: 'Date in IS08601 format, ex: "2023-12-01"'
        required: false
        in: query
        schema:
          type: string
          format: date
      - name: id
        description: Organization ID
        required: true
        in: path
        schema:
          type: integer
      - name: to
        description: 'Date in IS08601 format, ex: "2023-12-01".'
        required: false
        in: query
        schema:
          type: string
          format: date
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: JSON formatted result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      organization_id:
                        type: integer
                      plan:
                        type: string
                      term:
                        type: string
                      user_count:
                        type: integer
                      wifi_count:
                        type: integer
                      roaming_client_count:
                        type: integer
                      mobile_roaming_client_count:
                        type: integer
                      total_requests:
                        type: integer
                      estimated_users:
                        type: integer
                      from:
                        type: string
                        format: date
                      to:
                        type: string
                        format: date
                      days_in_period:
                        type: integer
                  meta:
                    type: object
                    properties:
                      queries_per_user:
                        type: integer
      description: 'Gets usage information for the given organization.


        This differs from +organization_usage+ in the way +user_count+/+wifi_count+ are fetched from the DB,

        also these endpoints returns a roaming client count.'
      summary: Get usage detailed
      security:
      - header_authorization: []
      x-controller: v1/metrics
      x-action: organization_usage_detailed
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
