openapi: 3.2.0
info:
  title: DNSFilter Agent Local Users CSV Export API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Agent Local Users CSV Export
  description: ''
paths:
  /v2/agent_local_users_csv_export:
    post:
      tags:
      - Agent Local Users CSV Export
      operationId: V2_Agent_Local_Users_CSV_Export-create
      parameters: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent local users CSV export
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentLocalUsersCsvExport'
      description: Creates an agent local users CSV export record to track export of agent local users.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v2/agent_local_users_csv_export
      x-action: create
      requestBody:
        description: Agent local users CSV export information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentLocalUsersCsvExportCreate'
  /v2/agent_local_users_csv_export/{id}:
    get:
      tags:
      - Agent Local Users CSV Export
      operationId: V2_Agent_Local_Users_CSV_Export-show
      parameters:
      - name: id
        description: UUID of agent local users CSV export
        required: true
        in: path
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent local users CSV export
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentLocalUsersCsvExport'
      description: Shows an agent local users CSV export.
      summary: Show
      security:
      - header_authorization: []
      x-controller: v2/agent_local_users_csv_export
      x-action: show
components:
  schemas:
    AgentLocalUsersCsvExport:
      type: object
      properties:
        uuid:
          type: string
          description: Agent local users csv export UUID
        organization_ids:
          type: array
          items:
            type: integer
          description: Organization IDs
        url:
          type: string
          description: URL to download the CSV (null until job completes)
        error:
          type: string
          description: Error message if export failed
      description: Agent local users csv export
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    AgentLocalUsersCsvExportCreate:
      type: object
      properties:
        agent_local_users_csv_export:
          type: object
          properties:
            organization_ids:
              type: array
              items:
                type: integer
            name:
              type: string
            search:
              type: string
            user_policy_override:
              type: boolean
          description: CSV export attributes
      description: Agent local users csv export
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
