openapi: 3.0.0
info:
  title: DNSFilter Agent Local User Bulk Deletes Scheduled Reports API
  description: "\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1&page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n"
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Scheduled Reports
  description: ''
paths:
  /v1/scheduled_reports:
    get:
      tags:
      - Scheduled Reports
      operationId: V1_Scheduled_Reports-index
      parameters:
      - name: organization_id
        description: Organization ID
        required: true
        in: query
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Scheduled reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScheduledReportSpec'
      description: Get all scheduled reports associated with current user's organizations.
      summary: Get
      security:
      - header_authorization: []
      x-controller: v1/scheduled_reports
      x-action: index
    post:
      tags:
      - Scheduled Reports
      operationId: V1_Scheduled_Reports-create
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create scheduled report with the given data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: The created scheduled report
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScheduledReportSpec'
      description: Creates a scheduled report.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/scheduled_reports
      x-action: create
      requestBody:
        description: a scheduled report
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduled_report:
                  $ref: '#/components/schemas/ScheduledReport'
  /v1/scheduled_reports/{id}:
    get:
      tags:
      - Scheduled Reports
      operationId: V1_Scheduled_Reports-show
      parameters:
      - name: id
        description: ScheduledReport ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: The scheduled report data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScheduledReportSpec'
      description: Gets the specified scheduled report.
      summary: Show report
      security:
      - header_authorization: []
      x-controller: v1/scheduled_reports
      x-action: show
    patch:
      tags:
      - Scheduled Reports
      operationId: V1_Scheduled_Reports-update
      parameters:
      - name: id
        description: ScheduledReport ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update scheduled report with the given data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: The updated scheduled report
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScheduledReportSpec'
      description: Updates a scheduled report.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/scheduled_reports
      x-action: update
      requestBody:
        description: a scheduled report
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduled_report:
                  $ref: '#/components/schemas/ScheduledReport'
    delete:
      tags:
      - Scheduled Reports
      operationId: V1_Scheduled_Reports-destroy
      parameters:
      - name: id
        description: ScheduledReport ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create scheduled report with the given data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: The deleted scheduled report data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScheduledReportSpec'
      description: Deletes the scheduled report.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/scheduled_reports
      x-action: destroy
components:
  schemas:
    ScheduledReportRecipient:
      type: object
      properties:
        email:
          type: string
          description: Email address of recipient
        organization:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
          description: Scheduled report recipient associated objects
      description: Scheduled report recipient resource
    ScheduledReport:
      type: object
      properties:
        organization_id:
          type: integer
          description: The organization that owns the scheduled report
        frequency:
          type: string
          enum:
          - monthly
          - bi_weekly
          - weekly
          description: Frequency of report
        day_of_week:
          type: string
          enum:
          - sunday
          - monday
          - tuesday
          - wednesday
          - thursday
          - friday
          - saturday
          description: Day of week report is sent
        include_threat_summary:
          type: boolean
          description: Report includes threat summary if true
        include_content_category_summary:
          type: boolean
          description: Report include content category summary if true
        content_categories_show_count:
          type: string
          enum:
          - all_categories
          - top5
          - top10
          - top15
          description: Number of categories to show
        send_to_dashboard_users:
          type: boolean
          description: Report is sent to all dashboard users if true
        scheduled_report_recipients:
          type: array
          items:
            $ref: '#/components/schemas/ScheduledReportRecipient'
          description: Scheduled report associated recipients
        selected_sub_orgs:
          type: array
          items:
            type: integer
          description: selected sub orgs for scheduled reports on msp organizations
      description: Scheduled report resource
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
    ScheduledReportSpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/ScheduledReport'
      description: Scheduled report specification
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
