openapi: 3.2.0
info:
  title: DNSFilter Collection Users API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: Collection Users
  description: ''
paths:
  /v1/collections/{collection_id}/users:
    get:
      tags:
      - Collection Users
      operationId: V1_Collection_Users-index
      parameters:
      - name: collection_id
        description: Collection ID
        required: true
        in: path
        schema:
          type: integer
      - name: name
        description: filter by name. If friendly_name not found, will search by user_name
        required: false
        in: query
        schema:
          type: string
      - name: page
        description: Page number and size
        required: false
        in: query
        schema:
          type: object
          properties:
            number:
              type: integer
            size:
              type: integer
      - name: sort
        description: 'Sort options, valid attributes: name'
        required: false
        in: query
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Agent local users information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollectionUserSpec'
      description: Show users belonging to a specific collection with the specified id.
      summary: Gets collection users
      security:
      - header_authorization: []
      x-controller: v1/collection_users
      x-action: index
    post:
      tags:
      - Collection Users
      operationId: V1_Collection_Users-create
      parameters:
      - name: collection_id
        description: Collection ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not add a user to a specified collection with the specified data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '201':
          description: Created collection basic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollectionUserSpec'
      description: Add a new user to a specific collection with the specified id.
      summary: Update
      security:
      - header_authorization: []
      x-controller: v1/collection_users
      x-action: create
      requestBody:
        description: Collection information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionUserCreateSpec'
  /v1/collections/{collection_id}/users/{id}:
    get:
      tags:
      - Collection Users
      operationId: V1_Collection_Users-show
      parameters:
      - name: collection_id
        description: The ID of the collection to search
        required: true
        in: path
        schema:
          type: integer
      - name: id
        description: The ID of the user to return
        required: true
        in: path
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: User and permission details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollectionUserSpec'
      description: Gets the user details and permissions for the specified organization.
      summary: Show user
      security:
      - header_authorization: []
      x-controller: v1/collection_users
      x-action: show
    delete:
      tags:
      - Collection Users
      operationId: V1_Collection_Users-destroy
      parameters:
      - name: collection_id
        description: The ID of the collection to search
        required: true
        in: path
        schema:
          type: integer
      - name: id
        description: The ID of the user to delete
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not delete collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '204':
          description: No Content
      description: Deletes a user from a collection.
      summary: Delete user
      security:
      - header_authorization: []
      x-controller: v1/collection_users
      x-action: destroy
components:
  schemas:
    CollectionUserSpec:
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/CollectionUserCreateSpec'
      required:
      - policy
      description: Collection creation request parameters
    CollectionUserCreateSpec:
      type: object
      properties:
        collection_id:
          type: integer
          description: Collection ID
        id:
          type: integer
          description: User ID
      required:
      - collection_id
      - id
      description: Collection User creation request parameters
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
