openapi: 3.2.0
info:
  title: DNSFilter Api Keys API
  description: '**Note:** If you are a distributor integrating with DNSFilter, please check

    out our Distributors Development Guide.'
  version: '2026-07-13'
servers:
- url: https://api.dnsfilter.com
  description: Production
tags:
- name: API Keys
  description: ''
paths:
  /v1/api_keys:
    post:
      tags:
      - API Keys
      operationId: V1_Api_Keys-create
      parameters: []
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not create api_key with the specified data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: created api key
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApiKeySpec'
      description: Creates a new api key.
      summary: Create
      security:
      - header_authorization: []
      x-controller: v1/api_keys
      x-action: create
      requestBody:
        description: api key information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateSpec'
    get:
      tags:
      - API Keys
      operationId: V1_Api_Keys-index
      parameters:
      - name: expired
        description: if the api key is expired or not.
        required: false
        in: query
        schema:
          type: boolean
      - name: id
        description: id of the api key
        required: false
        in: query
        schema:
          type: integer
      - name: last_four
        description: last four values of api key token
        required: false
        in: query
        schema:
          type: string
      - name: name
        description: name of api key
        required: false
        in: query
        schema:
          type: string
      - name: organization_id
        description: Organization ID
        required: false
        in: query
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: api keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKeySpec'
                  links:
                    $ref: '#/components/schemas/Links'
      description: Gets the list of api keys associated with the current user.
      summary: List
      security:
      - header_authorization: []
      x-controller: v1/api_keys
      x-action: index
  /v1/api_keys/{id}:
    get:
      tags:
      - API Keys
      operationId: V1_Api_Keys-show
      parameters:
      - name: id
        description: ApiKey ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update api key with the specified data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: queried api key
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApiKeySpec'
      description: Displays an api key.
      summary: Show
      security:
      - header_authorization: []
      x-controller: v1/api_keys
      x-action: show
    delete:
      tags:
      - API Keys
      operationId: V1_Api_Keys-destroy
      parameters:
      - name: id
        description: Api Key ID
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '204':
          description: no content
      description: Removes the api key.
      summary: Delete
      security:
      - header_authorization: []
      x-controller: v1/api_keys
      x-action: destroy
  /v1/api_keys/{id}/revoke:
    post:
      tags:
      - API Keys
      operationId: V1_Api_Keys-revoke
      parameters:
      - name: id
        description: api key id
        required: true
        in: path
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Can not update api key with the specified data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Updated api key
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApiKeySpec'
      description: Revokes the api key for the user.
      summary: Revoke
      security:
      - header_authorization: []
      x-controller: v1/api_keys
      x-action: revoke
components:
  schemas:
    IdType:
      type: object
      properties:
        id:
          type: string
          description: Resource Id (integer or uuid)
        type:
          type: string
          description: Resource type name
        uuid:
          type: string
          description: Resource UUID (if applicable)
      description: JSON API resource ID and type attributes
    ApiKeySpec:
      allOf:
      - $ref: '#/components/schemas/IdType'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/ApiKey'
      description: ApiKey specification
    Links:
      type: object
      properties:
        self:
          type: string
          description: Endpoint URL (may be null)
      description: JSON API links member representation
    ApiKeyCreateSpec:
      type: object
      properties:
        name:
          type: string
          description: name
        expiry:
          type: string
          description: 2024-12-22T17:24:32.162-05:00 intended expiry
      description: Api key creation specification
    ApiKey:
      type: object
      properties:
        name:
          type: string
          description: name
        expiry:
          type: string
          description: 2024-12-22T17:24:32.162-05:00 intended expiry
        last_four:
          type: string
          description: last four digits of the token
        token:
          type: string
          description: 'full token on initial create or a redacted token with last four. i.e: ***************Lhz4'
        status:
          type: string
          description: token status (active, revoked)
        created_at:
          type: string
          description: created at datetime 2024-09-20T15:59:59.100-04:00
        updated_at:
          type: string
          description: date last updated 2024-09-20T15:59:59.100-04:00
        'user_id:':
          type: integer
          description: associated user to api key
      description: ApiKey resource
    Error:
      type: object
      properties:
        error:
          type: string
          description: 'Error message (e.x.: Not Authorized)'
      description: Error basic representation
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
