{"openapi":"3.0.0","info":{"title":"DNSFilter API","description":"\n**Note:** If you are a distributor integrating with DNSFilter, please check\n          out our [Distributors Development Guide](/docs/distributors).\n\n### Authentication\n\n- Authentication is required for most, but not all, endpoints.\n\n- Authentication is done by setting the `Authorization` request header.\n  The header value is the API key itself.\n  For example: `Authorization: eyJ...`\n\n- An API key can be obtained through the DNSFilter dashboard under\n  Account Settings. For additional information see\n  [this KB article](https://help.dnsfilter.com/hc/en-us/articles/21169189058323-API-Tokens).\n\n### Rate Limiting\n\n- All endpoints are rate limited.\n\n- The limits may vary by endpoint, but are generally consistent.\n\n- When the rate limit is exceeded the API will return the standard `429` HTTP status.\n\n- The following headers will also be provided in the response:\n  `Retry-After`, `RateLimit-Policy`, `RateLimit`, `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`.\n  For details on the values of these headers, see the following articles\n  [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After),\n  [here](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-08.html),\n  and [here](https://www.ietf.org/archive/id/draft-polli-ratelimit-headers-05.html).\n\n- For additional information see [this KB article](https://help.dnsfilter.com/hc/en-us/articles/38202811088403-API-Rate-Limits).\n\n### Error Handling\n\n- The API uses standard HTTP status codes to indicate success or failure.\n\n- For _V1_ endpoints the response format is:\n  ```json\n  { \"error\": \"string\", \"type\": \"string(optional)\" }\n  ```\n- For _V2_ endpoints the response format is:\n  ```json\n  { \"error\": { \"message\": \"string\", \"type\": \"string(optional)\" } }\n  ```\n\n### Pagination\n\nFor the _V1_ endpoints, the pagination parameters are nested. That is to say,\nif passed as JSON they look like this: `{\"page[number]\": 1, \"page[size]\": 10}`.\n\nTo pass this information in the URL query string, it would be formatted like\nthis: `...?page%5Bnumber%5D=1\u0026page%5Bsize%5D=10`.\n\nIn this guide, the UI will indicate that `page` is an `object` and if you\nwant to set values when trying the request, you must enter it as if it was\nthe JSON above.\n\n### A Quick Example\n\nThe following will return information about the currently\nauthenticated user.\n\n```bash\n% curl -H 'Authorization: ***' https://api.dnsfilter.com/v1/users/self\n\n{ \"data\": {\n    \"id\": \"12345\",\n    \"type\": \"users\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      ...additional fields...\n}}}\n```\n","version":"2026-07-13"},"servers":[{"url":"https://api.dnsfilter.com","description":"Production"}],"paths":{"/v1/agent_local_user_bulk_deletes":{"post":{"tags":["Agent Local User Bulk Deletes"],"operationId":"V1_Agent_Local_User_Bulk_Deletes-create","parameters":[{"name":"block_page","description":"Filter by block page name","required":false,"in":"query","schema":{"$ref":"#/components/schemas/StringContainsOp"}},{"name":"collection_id","description":"Filter by collection","required":false,"in":"query","schema":{"$ref":"#/components/schemas/ArrayIntegerIsOp"}},{"name":"friendly_name","description":"Filter by friendly name","required":false,"in":"query","schema":{"$ref":"#/components/schemas/StringContainsOp"}},{"name":"name_search","description":"Search by friendly_name, falls back to user_name when friendly_name is absent","required":false,"in":"query","schema":{"type":"string"}},{"name":"policy_schedule","description":"Filter by policy or scheduled policy name","required":false,"in":"query","schema":{"$ref":"#/components/schemas/StringContainsOp"}},{"name":"search","description":"Filter by name or user_login","required":false,"in":"query","schema":{"type":"string"}},{"name":"user_login","description":"Filter by user login","required":false,"in":"query","schema":{"$ref":"#/components/schemas/StringContainsOp"}},{"name":"user_name","description":"Filter by username","required":false,"in":"query","schema":{"$ref":"#/components/schemas/StringContainsOp"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Agent Local User bulk delete","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AgentLocalUserBulkDeletes"}}}}}}},"description":"Create an agent local user bulk delete.","summary":"Create","security":[{"header_authorization":[]}],"x-controller":"v1/agent_local_user_bulk_deletes","x-action":"create","requestBody":{"description":"User agent bulk delete information, ids overrides filters, exclude_ids removes agents from filtered set","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentLocalUserBulkDeletes"}}}}}},"/v1/agent_local_user_bulk_deletes/{id}":{"get":{"tags":["Agent Local User Bulk Deletes"],"operationId":"V1_Agent_Local_User_Bulk_Deletes-show","parameters":[{"name":"id","description":"Id of agent local user bulk delete","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Agent local user bulk delete","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AgentLocalUserBulkDeletes"}}}}}}},"description":"Gets an agent local user bulk delete by id.","summary":"Show bulk delete","security":[{"header_authorization":[]}],"x-controller":"v1/agent_local_user_bulk_deletes","x-action":"show"}},"/v1/agent_local_user_bulk_deletes/counts":{"get":{"tags":["Agent Local User Bulk Deletes"],"operationId":"V1_Agent_Local_User_Bulk_Deletes-counts","parameters":[{"name":"id","description":"Id of agent local user bulk delete","required":true,"in":"query","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Agent local user bulk delete counts information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentLocalUserBulkDeletesCounts"}}}}},"description":"Gets an agent local user bulk delete count by bulk delete id.","summary":"Count","security":[{"header_authorization":[]}],"x-controller":"v1/agent_local_user_bulk_deletes","x-action":"counts"}},"/v1/agent_local_users":{"get":{"tags":["Agent Local Users"],"operationId":"V1_Agent_Local_Users-index","parameters":[{"name":"block_page","description":"Filter by block page name","required":false,"in":"query","schema":{"$ref":"#/components/schemas/StringContainsOp"}},{"name":"collection_id","description":"Filter by collection","required":false,"in":"query","schema":{"$ref":"#/components/schemas/ArrayIntegerIsOp"}},{"name":"cybersight_enabled","description":"When true, use OpenSearch for activity in the time window: without user_agent_uuids, return extant ALUs seen on any Cybersight-eligible roaming client in the org(s); with user_agent_uuids, return ALUs seen on those roaming clients. When false, use Postgres only (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"end_at","description":"ISO8601 end of activity window. Optional; only used with start_at when cybersight_enabled=true.","required":false,"in":"query","schema":{"type":"string"}},{"name":"friendly_name","description":"Filter by friendly name","required":false,"in":"query","schema":{"$ref":"#/components/schemas/StringContainsOp"}},{"name":"ids","description":"Filter to users whose IDs are in the specified list of values","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true},{"name":"in_a_collection","description":"filter by agent local users in a collection","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"msp_id","description":"MSP ID. When provided, returns agent local users across all organizations belonging to this MSP.","required":false,"in":"query","schema":{"type":"integer"}},{"name":"name","description":"filter by name. If friendly_name not found, will search by user_name","required":false,"in":"query","schema":{"type":"string"}},{"name":"organization_ids","description":"Organization IDs, defaults to user organization ID","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true},{"name":"page","description":"Page number and size","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}},{"name":"policy_schedule","description":"Filter by policy or scheduled policy name","required":false,"in":"query","schema":{"$ref":"#/components/schemas/StringContainsOp"}},{"name":"search","description":"Filter by name or user_login","required":false,"in":"query","schema":{"type":"string"}},{"name":"sort","description":"Sort options, valid attributes: name, first_seen, last_seen. Prefix with - for descending (e.g. -first_seen)","required":false,"in":"query","schema":{"type":"string"}},{"name":"start_at","description":"ISO8601 start of activity window. Optional; only used when cybersight_enabled=true. Omitted =\u003e last 91 days unless paired with end_at.","required":false,"in":"query","schema":{"type":"string"}},{"name":"user_agent_uuids","description":"Filter to users associated with these roaming clients. When cybersight_enabled=true uses Cybersight activity (OpenSearch); otherwise uses current user on device (PG).","required":false,"in":"query","schema":{"type":"array","items":{"type":"string"}},"explode":true},{"name":"user_login","description":"Filter by user login","required":false,"in":"query","schema":{"$ref":"#/components/schemas/StringContainsOp"}},{"name":"user_name","description":"Filter by username","required":false,"in":"query","schema":{"$ref":"#/components/schemas/StringContainsOp"}},{"name":"user_policy_override","description":"When true, return only users with a policy or scheduled policy directly assigned. When false, return only users without a direct policy or scheduled policy assignment.","required":false,"in":"query","schema":{"type":"boolean"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Agent local users basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/AgentLocalUserSpec"}},"links":{"$ref":"#/components/schemas/Links"}}}}}}},"description":"Gets the agent local users associated to an organization with basic information.","summary":"Gets extant users","security":[{"header_authorization":[]}],"x-controller":"v1/agent_local_users","x-action":"index"}},"/v1/agent_local_users/all":{"get":{"tags":["Agent Local Users"],"operationId":"V1_Agent_Local_Users-all","parameters":[{"name":"cybersight_enabled","description":"When true, use OpenSearch for activity in the time window: without user_agent_uuids, return ALUs seen on any Cybersight-eligible roaming client in scope; with user_agent_uuids, return ALUs seen on those roaming clients. When false, use Postgres only (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"end_at","description":"ISO8601 end of activity window. Optional; only used with start_at when cybersight_enabled=true.","required":false,"in":"query","schema":{"type":"string"}},{"name":"in_a_collection","description":"filter by agent local users in a collection","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"name","description":"filter by name. If friendly_name not found, will search by user_name","required":false,"in":"query","schema":{"type":"string"}},{"name":"organization_ids","description":"Organization IDs, defaults to user organization ID","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true},{"name":"page","description":"Page number and size","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}},{"name":"sort","description":"Sort options, valid attributes: name","required":false,"in":"query","schema":{"type":"string"}},{"name":"start_at","description":"ISO8601 start of activity window. Optional; only used when cybersight_enabled=true. Omitted =\u003e last 91 days unless paired with end_at.","required":false,"in":"query","schema":{"type":"string"}},{"name":"user_agent_uuids","description":"Filter to users associated with these roaming clients. When cybersight_enabled=true uses Cybersight activity (OpenSearch); otherwise uses current user on device (PG).","required":false,"in":"query","schema":{"type":"array","items":{"type":"string"}},"explode":true},{"name":"user_policy_override","description":"When true, return only users with a policy or scheduled policy directly assigned. When false, return only users without a direct policy or scheduled policy assignment.","required":false,"in":"query","schema":{"type":"boolean"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Agent local users basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/AgentLocalUserSpec"}},"links":{"$ref":"#/components/schemas/Links"}}}}}}},"description":"Gets ALL agent local users associated to an user organization with basic information.","summary":"Gets ALL users","security":[{"header_authorization":[]}],"x-controller":"v1/agent_local_users","x-action":"all"}},"/v1/agent_local_users/{id}":{"get":{"tags":["Agent Local Users"],"operationId":"V1_Agent_Local_Users-show","parameters":[{"name":"id","description":"Agent local user ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Agent local user basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AgentLocalUserSpec"}}}}}}},"description":"Gets basic information of the specified agent local user.","summary":"Show extant user","security":[{"header_authorization":[]}],"x-controller":"v1/agent_local_users","x-action":"show"},"patch":{"tags":["Agent Local Users"],"operationId":"V1_Agent_Local_Users-update","parameters":[{"name":"id","description":"Agent local user ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not update agent local user with the specified data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Updated agent local user basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AgentLocalUserSpec"}}}}}}},"description":"Updates an agent local user with the specified data.","summary":"Update","security":[{"header_authorization":[]}],"x-controller":"v1/agent_local_users","x-action":"update","requestBody":{"description":"Agent local user information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentLocalUserUpdateSpec"}}}}},"delete":{"tags":["Agent Local Users"],"operationId":"V1_Agent_Local_Users-destroy","parameters":[{"name":"id","description":"Agent local user ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not delete agent local user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"204":{"description":"No Content"}},"description":"Deletes a agent local user.","summary":"Delete","security":[{"header_authorization":[]}],"x-controller":"v1/agent_local_users","x-action":"destroy"}},"/v1/api_keys":{"post":{"tags":["Api Keys"],"operationId":"V1_Api_Keys-create","parameters":[],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not create api_key with the specified data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"201":{"description":"created api key","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ApiKeySpec"}}}}}}},"description":"Creates a new api key.","summary":"Create","security":[{"header_authorization":[]}],"x-controller":"v1/api_keys","x-action":"create","requestBody":{"description":"api key information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreateSpec"}}}}},"get":{"tags":["Api Keys"],"operationId":"V1_Api_Keys-index","parameters":[{"name":"expired","description":"if the api key is expired or not.","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"id","description":"id of the api key","required":false,"in":"query","schema":{"type":"integer"}},{"name":"last_four","description":"last four values of api key token","required":false,"in":"query","schema":{"type":"string"}},{"name":"name","description":"name of api key","required":false,"in":"query","schema":{"type":"string"}},{"name":"organization_id","description":"Organization ID","required":false,"in":"query","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"api keys","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeySpec"}},"links":{"$ref":"#/components/schemas/Links"}}}}}}},"description":"Gets the list of api keys associated with the current user.","summary":"List","security":[{"header_authorization":[]}],"x-controller":"v1/api_keys","x-action":"index"}},"/v1/api_keys/{id}":{"get":{"tags":["Api Keys"],"operationId":"V1_Api_Keys-show","parameters":[{"name":"id","description":"ApiKey ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not update api key with the specified data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"queried api key","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ApiKeySpec"}}}}}}},"description":"Displays an api key.","summary":"Show","security":[{"header_authorization":[]}],"x-controller":"v1/api_keys","x-action":"show"},"delete":{"tags":["Api Keys"],"operationId":"V1_Api_Keys-destroy","parameters":[{"name":"id","description":"Api Key ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"204":{"description":"no content"}},"description":"Removes the api key.","summary":"Delete","security":[{"header_authorization":[]}],"x-controller":"v1/api_keys","x-action":"destroy"}},"/v1/api_keys/{id}/revoke":{"post":{"tags":["Api Keys"],"operationId":"V1_Api_Keys-revoke","parameters":[{"name":"id","description":"api key id","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not update api key with the specified data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Updated api key","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ApiKeySpec"}}}}}}},"description":"Revokes the api key for the user.","summary":"Revoke","security":[{"header_authorization":[]}],"x-controller":"v1/api_keys","x-action":"revoke"}},"/v1/application_categories":{"get":{"tags":["Application Categories"],"operationId":"V1_Application_Categories-index","parameters":[{"name":"page","description":"Page number and size","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}}],"responses":{"200":{"description":"Application categories basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationCategorySpec"}},"links":{"$ref":"#/components/schemas/Links"}}}}}}},"description":"List extant application categories.","summary":"Get extant","security":[],"x-controller":"v1/application_categories","x-action":"index"}},"/v1/application_categories/{id}":{"get":{"tags":["Application Categories"],"operationId":"V1_Application_Categories-show","parameters":[{"name":"id","description":"Application category ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Application category basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ApplicationCategorySpec"}}}}}}},"description":"Gets basic information of a specific application category.","summary":"Show category","security":[],"x-controller":"v1/application_categories","x-action":"show"}},"/v1/applications":{"get":{"tags":["Applications"],"operationId":"V1_Applications-index","parameters":[{"name":"category_ids","description":"Category IDs, defaults to all","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true},{"name":"page","description":"Page number and size","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}}],"responses":{"200":{"description":"Applications basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationSpec"}},"links":{"$ref":"#/components/schemas/Links"}}}}}}},"description":"List extant applications basic information.","summary":"Get extant","security":[{"header_authorization":[]}],"x-controller":"v1/applications","x-action":"index"}},"/v1/applications/all":{"get":{"tags":["Applications"],"operationId":"V1_Applications-all","parameters":[{"name":"category_ids","description":"Category IDs, defaults to all","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true},{"name":"page","description":"Page number and size","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}}],"responses":{"200":{"description":"Applications basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationSpec"}},"links":{"$ref":"#/components/schemas/Links"}}}}}}},"description":"List applications basic information, including deleted ones.","summary":"Get all","security":[{"header_authorization":[]}],"x-controller":"v1/applications","x-action":"all"}},"/v1/applications/{id}":{"get":{"tags":["Applications"],"operationId":"V1_Applications-show","parameters":[{"name":"id","description":"Application ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Applications basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ApplicationSpec"}}}}}}},"description":"Gets basic information of a specific application.","summary":"Show","security":[{"header_authorization":[]}],"x-controller":"v1/applications","x-action":"show"}},"/v1/billing":{"get":{"tags":["Billings"],"operationId":"V1_Billings-show","parameters":[{"name":"organization_id","description":"User organization ID","required":true,"in":"query","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Billing information provided by Stripe","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethod"}}}}},"description":"List basic billing information of the user organization registered in Stripe platform.","summary":"Show","security":[{"header_authorization":[]}],"x-controller":"v1/billings","x-action":"show"},"post":{"tags":["Billings"],"operationId":"V1_Billings-create","parameters":[],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not associate payment method with the specified data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"204":{"description":"No Content, only status `204` to indicate that the payment method was registered"}},"description":"Register a newly created payment method in database.","summary":"Create","security":[{"header_authorization":[]}],"x-controller":"v1/billings","x-action":"create","requestBody":{"description":"Payment method information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingCreate"}}}}}},"/v1/billing/address/{organization_id}":{"get":{"tags":["Billings"],"operationId":"V1_Billings-address_show","parameters":[{"name":"organization_id","description":"Organization ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Billing address","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billing_BillingAddress"}}}}},"description":"Show the billing address for the given organization.","summary":"Show address","security":[{"header_authorization":[]}],"x-controller":"v1/billings","x-action":"address_show"},"patch":{"tags":["Billings"],"operationId":"V1_Billings-address_update","parameters":[{"name":"organization_id","description":"Organization ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not update billing address with the specified data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Billing address","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billing_BillingAddress"}}}}},"description":"Update the billing address for the given organization.","summary":"Update address","security":[{"header_authorization":[]}],"x-controller":"v1/billings","x-action":"address_update","requestBody":{"description":"Billing address","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billing_BillingAddressUpdateSpec"}}}}}},"/v1/block_pages":{"get":{"tags":["Block Pages"],"operationId":"V1_Block_Pages-index","parameters":[{"name":"organization_id","description":"Organization ID","required":false,"in":"query","schema":{"type":"integer"}},{"name":"page","description":"Page number and size","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Block pages","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlockPage"}}}}}},"description":"Gets the list of block pages associated with the current user.","summary":"Get extant","security":[{"header_authorization":[]}],"x-controller":"v1/block_pages","x-action":"index"},"post":{"tags":["Block Pages"],"operationId":"V1_Block_Pages-create","parameters":[],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not create block_page with the specified data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"201":{"description":"The created block page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockPage"}}}}},"description":"Creates a new block page.","summary":"Create","security":[{"header_authorization":[]}],"x-controller":"v1/block_pages","x-action":"create","requestBody":{"description":"Block page information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockPage"}}}}}},"/v1/block_pages/all":{"get":{"tags":["Block Pages"],"operationId":"V1_Block_Pages-all","parameters":[{"name":"organization_id","description":"Organization ID","required":false,"in":"query","schema":{"type":"integer"}},{"name":"page","description":"Page number and size","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Block pages","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlockPage"}}}}}},"description":"Gets ALL block pages associated with the current user.","summary":"Get all","security":[{"header_authorization":[]}],"x-controller":"v1/block_pages","x-action":"all"}},"/v1/block_pages/{id}":{"get":{"tags":["Block Pages"],"operationId":"V1_Block_Pages-show","parameters":[{"name":"id","description":"BlockPage ID","required":true,"in":"path","schema":{"type":"integer"}},{"name":"include_relationships","description":"Include relationships in the response true/false, defaults to true","required":false,"in":"query","schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Block page data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockPage"}}}}},"description":"Gets the specified block page.","summary":"Show page","security":[{"header_authorization":[]}],"x-controller":"v1/block_pages","x-action":"show"},"patch":{"tags":["Block Pages"],"operationId":"V1_Block_Pages-update","parameters":[{"name":"id","description":"BlockPage ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not update block page with the specified data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Updated block page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockPage"}}}}},"description":"Updates a block_page with the specified data.","summary":"Update","security":[{"header_authorization":[]}],"x-controller":"v1/block_pages","x-action":"update","requestBody":{"description":"Block page information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockPage"}}}}},"delete":{"tags":["Block Pages"],"operationId":"V1_Block_Pages-destroy","parameters":[{"name":"id","description":"BlockPage ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"The deleted block page data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockPage"}}}}},"description":"Deletes a block page.","summary":"Delete","security":[{"header_authorization":[]}],"x-controller":"v1/block_pages","x-action":"destroy"}},"/v1/categories":{"get":{"tags":["Categories"],"operationId":"V1_Categories-index","parameters":[{"name":"page","description":"Page number and size","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}}],"responses":{"200":{"description":"Categories basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CategorySpec"}},"links":{"$ref":"#/components/schemas/Links"}}}}}}},"description":"List categories basic information.","summary":"Get extant","x-controller":"v1/categories","x-action":"index"}},"/v1/categories/all":{"get":{"tags":["Categories"],"operationId":"V1_Categories-all","parameters":[{"name":"page","description":"Page number and size","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}}],"responses":{"200":{"description":"Categories basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CategorySpec"}},"links":{"$ref":"#/components/schemas/Links"}}}}}}},"description":"List all categories including internal categories.","summary":"Get all","x-controller":"v1/categories","x-action":"all"}},"/v1/categories/{id}":{"get":{"tags":["Categories"],"operationId":"V1_Categories-show","parameters":[{"name":"id","description":"Category ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Category basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CategorySpec"}}}}}}},"description":"Gets basic information of a specific category.","summary":"Show category","x-controller":"v1/categories","x-action":"show"}},"/v1/collections/{collection_id}/users":{"get":{"tags":["Collection Users"],"operationId":"V1_Collection_Users-index","parameters":[{"name":"collection_id","description":"Collection ID","required":true,"in":"path","schema":{"type":"integer"}},{"name":"name","description":"filter by name. If friendly_name not found, will search by user_name","required":false,"in":"query","schema":{"type":"string"}},{"name":"page","description":"Page number and size","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}},{"name":"sort","description":"Sort options, valid attributes: name","required":false,"in":"query","schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Agent local users information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CollectionUserSpec"}}}}}}},"description":"Show users belonging to a specific collection with the specified id.","summary":"Gets collection users","security":[{"header_authorization":[]}],"x-controller":"v1/collection_users","x-action":"index"},"post":{"tags":["Collection Users"],"operationId":"V1_Collection_Users-create","parameters":[{"name":"collection_id","description":"Collection ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not add a user to a specified collection with the specified data","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"201":{"description":"Created collection basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CollectionUserSpec"}}}}}}},"description":"Add a new user to a specific collection with the specified id.","summary":"Update","security":[{"header_authorization":[]}],"x-controller":"v1/collection_users","x-action":"create","requestBody":{"description":"Collection information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionUserCreateSpec"}}}}}},"/v1/collections/{collection_id}/users/{id}":{"get":{"tags":["Collection Users"],"operationId":"V1_Collection_Users-show","parameters":[{"name":"collection_id","description":"The ID of the collection to search","required":true,"in":"path","schema":{"type":"integer"}},{"name":"id","description":"The ID of the user to return","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"User and permission details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CollectionUserSpec"}}}}}}},"description":"Gets the user details and permissions for the specified organization.","summary":"Show user","security":[{"header_authorization":[]}],"x-controller":"v1/collection_users","x-action":"show"},"delete":{"tags":["Collection Users"],"operationId":"V1_Collection_Users-destroy","parameters":[{"name":"collection_id","description":"The ID of the collection to search","required":true,"in":"path","schema":{"type":"integer"}},{"name":"id","description":"The ID of the user to delete","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not delete collection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"204":{"description":"No Content"}},"description":"Deletes a user from a collection.","summary":"Delete user","security":[{"header_authorization":[]}],"x-controller":"v1/collection_users","x-action":"destroy"}},"/v1/current_user":{"get":{"tags":["User (Current)"],"operationId":"V1_User_(Current)-show","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UserSpec"}}}}}}},"description":"Fetch information about the currently authenticated user.","summary":"Get","security":[{"header_authorization":[]}],"x-controller":"v1/current_users","x-action":"show"},"patch":{"tags":["User (Current)"],"operationId":"V1_User_(Current)-update","parameters":[],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unable to update current user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UserSpec"}}}}}}},"description":"Update attributes for the currently authenticated user.","summary":"Update","security":[{"header_authorization":[]}],"x-controller":"v1/current_users","x-action":"update","requestBody":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"object","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"phone":{"type":"string"}}}}}}}}}},"/v1/dictionary/qp_methods":{"get":{"tags":["Dictionary Lookups"],"operationId":"V1_Dictionary_Lookups-qp_methods","parameters":[],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"QP Methods","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"allow":{"type":"boolean"},"name":{"type":"string"},"description":{"type":"string"}}}}}}}},"summary":"List QP Methods","x-controller":"v1/dictionary","x-action":"qp_methods"}},"/v1/distributors/health":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-health","parameters":[],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"}}}}}}},"description":"Allows testing API reachability and validation of the authentication header.\n\nNOTE: This endpoint supports the read-only pre-shared secret key.","summary":"Health Check","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"health"}},"/v1/distributors/distributors":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-distributors_index","parameters":[],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Distributor"}}}}},"description":"Allows to fetch basic information about a Distributor and its parent organization.","summary":"Get","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"distributors_index"},"patch":{"tags":["Distributors"],"operationId":"V1_Distributors-distributors_update","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"$ref":"#/components/schemas/DistributorUpdateSpec"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to update distributor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Distributor"}}}}},"description":"Updates the specified support Distributor information.","summary":"Update","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"distributors_update"}},"/v1/distributors/msps":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-msps_index","parameters":[{"name":"canceled_at_from","description":"Parent organization _canceled_at_ time range lower limit (inclusive). Unix timestampNote: either_include_canceled_ or _only_canceled_ must be _true_ for this filter to work","required":false,"in":"query","schema":{"type":"integer"}},{"name":"canceled_at_to","description":"Parent organization _canceled_at_ time range upper limit (inclusive). Unix timestampNote: either_include_canceled_ or _only_canceled_ must be _true_ for this filter to work","required":false,"in":"query","schema":{"type":"integer"}},{"name":"created_at_from","description":"Parent organization _created_at_ time range lower limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"created_at_to","description":"Parent organization _created_at_ time range upper limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"distributor_id","description":"Parent organization _distributor_id_ filter. Case-insensitive search pattern","required":false,"in":"query","schema":{"type":"string"}},{"name":"distributor_sku","description":"Parent organization _distributor_skus_ filter. Case-sensitive exact match","required":false,"in":"query","schema":{"type":"string"}},{"name":"distributor_status","description":"Parent organization _distributor_status_ filter. Case-sensitive exact match","required":false,"in":"query","schema":{"type":"string"}},{"name":"external_id","description":"Parent organization _external_id_ filter. Case-insensitive search pattern","required":false,"in":"query","schema":{"type":"string"}},{"name":"include_canceled","description":"Include canceled MSPs. Ignored if _only_canceled_ is specified (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"msp_name","description":"MSP _name_ filter. Case-insensitive search pattern","required":false,"in":"query","schema":{"type":"string"}},{"name":"only_canceled","description":"Filter by canceled MSPs only (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"page","description":"Page number (defaults to 1) and size (defaults to 1500, maximum 1500).","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}},{"name":"parent_organization_name","description":"MSP parent organization _name_ filter. Case-insensitive search pattern","required":false,"in":"query","schema":{"type":"string"}},{"name":"transferred_at_from","description":"Parent organization _transferred_at_ time range lower limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"transferred_at_to","description":"Parent organization _transferred_at_ time range upper limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"trial_end","description":"Parent organization _trial_end_ filterExact match search. Date in ISO8601 format, e.g.: 2022-12-31","required":false,"in":"query","schema":{"type":"string"}},{"name":"updated_at_from","description":"Parent organization _updated_at_ time range lower limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"updated_at_to","description":"Parent organization _updated_at_ time range upper limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MspDistributor"}}}}}},"description":"Allows to get the list of MSPs that matches the search criteria.\n\nReturns all non-canceled ones by default if no search filters are\nspecified.\n\nNote: endpoint does pagination, be sure to fetch all available pages to\nget the full list.","summary":"MSP Search","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"msps_index"},"post":{"tags":["Distributors"],"operationId":"V1_Distributors-msps_create","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"$ref":"#/components/schemas/MspDistributorCreateSpec"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MspDistributor"}}}}},"description":"Creates an MSP and its parent organization.","summary":"Create","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"msps_create"}},"/v1/distributors/msps/{id}":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-msps_show","parameters":[{"name":"id","description":"MSP ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MspDistributor"}}}}},"description":"Allows to fetch basic information about an MSP and its parent organization.","summary":"Show MSP","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"msps_show"},"patch":{"tags":["Distributors"],"operationId":"V1_Distributors-msps_update","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"$ref":"#/components/schemas/MspDistributorUpdateSpec"}},{"name":"id","description":"MSP ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MspDistributor"}}}}},"description":"Updates the specified MSP and its parent organization data.","summary":"Update","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"msps_update"}},"/v1/distributors/msps/{id}/cancel":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-msps_cancel","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"type":"object","properties":{"distributor_status":{"type":"string"}}}},{"name":"id","description":"MSP ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to cancel MSP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MspDistributor"}}}}},"description":"Cancels the specified MSP parent organization and all of its sub-organizations.","summary":"Cancel","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"msps_cancel"}},"/v1/distributors/msps/{id}/reactivate":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-msps_reactivate","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"type":"object","properties":{"distributor_status":{"type":"string"},"reactivate_sub_organizations":{"type":"boolean"}}}},{"name":"id","description":"MSP ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to reactivate MSP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MspDistributor"}}}}},"description":"Reactivates the specified MSP parent organization and all of its sub-organization if specified.","summary":"Reactivate","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"msps_reactivate"}},"/v1/distributors/organizations":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-organizations_index","parameters":[{"name":"canceled_at_from","description":"Organization _canceled_at_ time range lower limit (inclusive). Unix timestamp. Note: either _include_canceled_ or _only_canceled_ must be _true_ for this filter to work","required":false,"in":"query","schema":{"type":"integer"}},{"name":"canceled_at_to","description":"Organization _canceled_at_ time range upper limit (inclusive). Unix timestamp. Note: either _include_canceled_ or _only_canceled_ must be _true_ for this filter to work","required":false,"in":"query","schema":{"type":"integer"}},{"name":"created_at_from","description":"Organization _created_at_ time range lower limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"created_at_to","description":"Organization _created_at_ time range upper limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"distributor_id","description":"Organization _distributor_id_ filter. Case-insensitive search pattern","required":false,"in":"query","schema":{"type":"string"}},{"name":"distributor_sku","description":"Organization _distributor_skus_ filter. Case-sensitive exact match","required":false,"in":"query","schema":{"type":"string"}},{"name":"distributor_status","description":"Organization _distributor_status_ filter. Case-sensitive exact match","required":false,"in":"query","schema":{"type":"string"}},{"name":"external_id","description":"Organization _external_id_ filter. Case-insensitive search pattern","required":false,"in":"query","schema":{"type":"string"}},{"name":"include_canceled","description":"Include canceled organizationsIgnored if _only_canceled_ is specified (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"msp_id","description":"Organization _msp_id/managed_by_msp_id_ filter. Exact match search. MSP parent organization is automatically excluded from the result with this filter.","required":false,"in":"query","schema":{"type":"integer"}},{"name":"name","description":"Organization _name_ filter. Case-insensitive search pattern.","required":false,"in":"query","schema":{"type":"string"}},{"name":"only_canceled","description":"Filter by canceled organizations only (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"page","description":"Page number (defaults to 1) and size (defaults to 1500, maximum 1500).","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}},{"name":"transferred_at_from","description":"Organization _transferred_at_ time range lower limit(inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"transferred_at_to","description":"Organization _transferred_at_ time range upper limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"trial_end","description":"Organization _trial_end_ filter. Exact match search. Date in ISO8601 format, e.g.: 2022-12-31","required":false,"in":"query","schema":{"type":"string"}},{"name":"updated_at_from","description":"Organization _updated_at_ time range lower limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"updated_at_to","description":"Organization _updated_at_ time range upper limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationDistributor"}}}}}},"description":"Allows to get the list of organizations that matches the search criteria,\nreturns all non-canceled ones by default if no search filters are\nspecified. Note: endpoint does pagination, be sure to fetch all available\npages to get the full list.","summary":"Organizations Search","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"organizations_index"},"post":{"tags":["Distributors"],"operationId":"V1_Distributors-organizations_create","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"$ref":"#/components/schemas/OrganizationDistributorCreateSpec"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationDistributor"}}}}},"description":"Creates an MSP sub-organization.","summary":"Create suborganization","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"organizations_create"}},"/v1/distributors/organizations/{id}":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-organizations_show","parameters":[{"name":"id","description":"Scope response to id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationDistributor"}}}}},"description":"Allows to fetch basic information about an MSP parent organization or sub-organization.","summary":"Show Organization","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"organizations_show"},"patch":{"tags":["Distributors"],"operationId":"V1_Distributors-organizations_update","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"$ref":"#/components/schemas/OrganizationDistributorUpdateSpec"}},{"name":"id","description":"Organization ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to update organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationDistributor"}}}}},"description":"Updates the specified MSP sub-organization data.","summary":"Update suborganization","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"organizations_update"}},"/v1/distributors/organizations/{id}/cancel":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-organizations_cancel","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"type":"object","properties":{"distributor_status":{"type":"string"}}}},{"name":"id","description":"Organization ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to cancel organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationDistributor"}}}}},"description":"Cancels the specified MSP sub-organization.\n\nNote: See _Organization Cancellation_ for important details.","summary":"Cancel suborganization","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"organizations_cancel"}},"/v1/distributors/organizations/{id}/reactivate":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-organizations_reactivate","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"type":"object","properties":{"distributor_status":{"type":"string"}}}},{"name":"id","description":"Organization ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to reactivate organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationDistributor"}}}}},"description":"Reactivates the specified MSP sub-organization.\n\nNote: See _Organization Cancellation_ for important details.","summary":"Reactivate suborg","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"organizations_reactivate"}},"/v1/distributors/organizations/{id}/add_sku":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-organizations_add_sku","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"type":"object","properties":{"sku":{"type":"string"}}}},{"name":"id","description":"Organization ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationDistributor"}}}}},"description":"Helper endpoint to add a single SKU to the specified MSP parent\norganization or sub-organization instead of doing a full update that\nshould contain all SKUs.","summary":"Add Sku","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"organizations_add_sku"}},"/v1/distributors/organizations/{id}/remove_sku":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-organizations_remove_sku","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"type":"object","properties":{"sku":{"type":"string"}}}},{"name":"id","description":"Organization ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationDistributor"}}}}},"description":"Helper endpoint to remove a single SKU to the specified MSP parent\norganization or sub-organization instead of doing a full update that\nshould contain all SKUs.","summary":"Remove Sku","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"organizations_remove_sku"}},"/v1/distributors/users":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-users_index","parameters":[{"name":"created_at_from","description":"User created_at time range lower limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"created_at_to","description":"User created_at time range upper limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"distributor_guid","description":"User distributor_guid filter. Case-insensitive search pattern","required":false,"in":"query","schema":{"type":"string"}},{"name":"email","description":"User email filter. Case-insensitive search pattern","required":false,"in":"query","schema":{"type":"string"}},{"name":"first_name","description":"User first_name filter. Case-insensitive search pattern","required":false,"in":"query","schema":{"type":"string"}},{"name":"last_name","description":"User last_name filter. Case-insensitive search pattern","required":false,"in":"query","schema":{"type":"string"}},{"name":"msp_id","description":"Users with a direct membership to the parent organization of the specified MSP ID. Exact match search.","required":false,"in":"query","schema":{"type":"integer"}},{"name":"page","description":"Page number (defaults to 1) and size (defaults to 1500, maximum 1500).","required":false,"in":"query","schema":{"type":"object","properties":{"number":{"type":"integer"},"size":{"type":"integer"}}}},{"name":"transferred_at_from","description":"User transferred_at time range lower limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}},{"name":"transferred_at_to","description":"User transferred_at time range upper limit (inclusive). Unix timestamp","required":false,"in":"query","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserDistributor"}}}}}},"description":"Allows to get the list of users that matches the search criteria. Note:\nendpoint does pagination, be sure to fetch all available pages to get the\nfull list.","summary":"Users Search","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"users_index"},"post":{"tags":["Distributors"],"operationId":"V1_Distributors-users_create","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"$ref":"#/components/schemas/UserDistributorCreateSpec"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to create user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDistributor"}}}}},"description":"Creates a new user alongside a membership with an organization.","summary":"Create user","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"users_create"}},"/v1/distributors/users/{id}":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-users_show","parameters":[{"name":"id","description":"Scope response to id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDistributor"}}}}},"description":"Allows to fetch basic information about an user.","summary":"Show User","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"users_show"}},"/v1/distributors/users/{id}/add_membership":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-users_add_membership","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"$ref":"#/components/schemas/UserMembershipDistributorSpec"}},{"name":"id","description":"User ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to add membership","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDistributor"}}}}},"description":"Adds/creates a new user membership with an organization.","summary":"Add membership","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"users_add_membership"}},"/v1/distributors/users/{id}/update_membership":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-users_update_membership","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"$ref":"#/components/schemas/UserMembershipDistributorSpec"}},{"name":"id","description":"User ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to update membership","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDistributor"}}}}},"description":"Updates an existing user membership with an organization.","summary":"Update membership","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"users_update_membership"}},"/v1/distributors/users/{id}/remove_membership":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-users_remove_membership","parameters":[{"name":"body","description":"body","required":true,"in":"query","schema":{"type":"object","properties":{"organization_id":{"type":"integer"}}}},{"name":"id","description":"User ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to remove membership","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDistributor"}}}}},"description":"Removes/deletes an existing user membership with an organization.","summary":"Remove membership","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"users_remove_membership"}},"/v1/distributors/users/{id}/send_reset_password_email":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-users_send_reset_password_email","parameters":[{"name":"id","description":"Scope response to id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Failure to generate reset password email","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"204":{"description":"Email sent"}},"description":"Sends a reset password email to the specified user.","summary":"Reset password","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"users_send_reset_password_email"}},"/v1/distributors/users/{id}/reset_password_url":{"post":{"tags":["Distributors"],"operationId":"V1_Distributors-users_reset_password_url","parameters":[{"name":"id","description":"Scope response to id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"reset_password_url":{"type":"string"}}}}}}},"description":"Creates a new reset password URL for the specified user.\n\nThe URL is valid for 432000 seconds (5 days).","summary":"Reset password URL","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"users_reset_password_url"}},"/v1/distributors/reports/usage_by_organization":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-reports_usage_by_organization","parameters":[{"name":"date","description":"Report date.  Date in ISO8601 format, e.g.: 2022-12-31","required":true,"in":"query","schema":{"type":"string","format":"date"}},{"name":"include_in_trial","description":"Includes organizations that were in trial in the result (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"include_parent_organization","description":"Includes MSPs parent organizations in the result (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"msp_ids","description":"List of MSP IDs, e.g.: 1,2,3","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true},{"name":"organization_ids","description":"List of organization IDs, e.g.: 4,5,6","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK"}},"description":"Allows to fetch user usage information per organization.\nNOTE: This endpoint supports the read-only pre-shared secret key.","summary":"Get usage info","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"reports_usage_by_organization"}},"/v1/distributors/reports/usage_by_sku":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-reports_usage_by_sku","parameters":[{"name":"date","description":"Report date.  Date in ISO8601 format, e.g.: 2022-12-31","required":true,"in":"query","schema":{"type":"string","format":"date"}},{"name":"include_in_trial","description":"Includes organizations that were in trial in the result (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"include_parent_organization","description":"Includes MSPs parent organizations in the result (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"msp_ids","description":"List of MSP IDs, e.g.: 1,2,3","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true},{"name":"organization_ids","description":"List of organization IDs, e.g.: 4,5,6","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK"}},"description":"Allows to fetch user usage information per SKU.\n\nNOTE: it might be possible that the covered_users and estimated_users\nvalues do not match the total_requests / 6000 math, since these values\nare the sum of already rounded up values of organizations with the given\nSKU.\n\nNOTE: This endpoint supports the read-only pre-shared secret key.","summary":"Get usage info by SKU","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"reports_usage_by_sku"}},"/v1/distributors/reports/covered_users_summary_by_organization":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-reports_covered_users_summary_by_organization","parameters":[{"name":"from","description":"Report range lower limit. Date in ISO8601 format, e.g.: 2022-12-01","required":true,"in":"query","schema":{"type":"string","format":"date"}},{"name":"include_in_trial","description":"Includes organizations that were in trial in the result (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"include_parent_organization","description":"Includes MSPs parent organizations in the result (default: false)","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"msp_ids","description":"List of MSP IDs, e.g.: 1,2,3","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true},{"name":"organization_ids","description":"List of organization IDs, e.g.: 4,5,6","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true},{"name":"to","description":"Report range upper limit. Date in ISO8601 format, e.g.: 2022-12-31","required":true,"in":"query","schema":{"type":"string","format":"date"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Invalid distributor or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK"}},"description":"Allows to fetch covered users information by organization for the given\ndate range.\n\nMaximum days in date range is limited to 31.\n\nNOTE: This endpoint supports the read-only pre-shared secret key.","summary":"Get user info by date","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"reports_covered_users_summary_by_organization"}},"/v1/distributors/skus_available":{"get":{"tags":["Distributors"],"operationId":"V1_Distributors-skus_available","parameters":[],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"skus":{"type":"array","items":{"type":"string"}}}}}}}},"description":"Returns the list of SKUs available to the distributor's customers.","summary":"SKUs","security":[{"header_authorization":[]}],"x-controller":"v1/distributors","x-action":"skus_available"}},"/v1/notes/{resource}/{id}/{domain}":{"get":{"tags":["Domain Notes"],"operationId":"V1_Domain_Notes-show","parameters":[{"name":"domain","description":"domain","required":true,"in":"path","schema":{"type":"string"}},{"name":"id","description":"Resource ID","required":true,"in":"path","schema":{"type":"integer"}},{"name":"resource","description":"Valid resources: policies, msps or organizations","required":true,"in":"path","schema":{"type":"string","enum":["policies","msps","organizations"]}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Resource notes information","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DomainNotesSpec"}}}}}},"description":"Gets associated notes from a specific resource.","summary":"Show","security":[{"header_authorization":[]}],"x-controller":"v1/domain_notes","x-action":"show"},"patch":{"tags":["Domain Notes"],"operationId":"V1_Domain_Notes-update","parameters":[{"name":"domain","description":"domain","required":true,"in":"path","schema":{"type":"string"}},{"name":"id","description":"Resource ID","required":true,"in":"path","schema":{"type":"integer"}},{"name":"resource","description":"Valid resources: policies, msps or organizations","required":true,"in":"path","schema":{"type":"string","enum":["policies","msps","organizations"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not update resource notes with the specified data","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"200":{"description":"Resource notes information","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DomainNotesSpec"}}}}}},"description":"Updates notes for a resource with the specified data.","summary":"Update","security":[{"header_authorization":[]}],"x-controller":"v1/domain_notes","x-action":"update","requestBody":{"description":"Resource notes information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainNotesCreateSpec"}}}}}},"/v1/notes/{resource}/{id}/batch_update":{"patch":{"tags":["Domain Notes"],"operationId":"V1_Domain_Notes-batch_update","parameters":[{"name":"append","description":"true/false if the domains and notes are appended or updated, false by default.","required":false,"in":"query","schema":{"type":"boolean"}},{"name":"id","description":"Resource ID","required":true,"in":"path","schema":{"type":"integer"}},{"name":"notes","description":"Array with domain and notes information. ie: notes: [domain: 'google.com', note: 'google notes']","required":true,"in":"query","schema":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"note":{"type":"string"}}}},"explode":true},{"name":"organization_ids","description":"Organization IDs, defaults to user organization ID","required":false,"in":"query","schema":{"type":"array","items":{"type":"integer"}},"explode":true},{"name":"resource","description":"Valid resources: policies, msps or organizations","required":true,"in":"path","schema":{"type":"string","enum":["policies","msps","organizations"]}},{"name":"single_note","description":"a note applied for all provided domains","required":false,"in":"query","schema":{"type":"string"}},{"name":"type","description":"Type of list allowlist/blocklist (allow, block), defaults to allow","required":false,"in":"query","schema":{"type":"string","enum":["allow","block"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not update resource notes with the specified data","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"200":{"description":"Resource notes information","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DomainNotesSpec"}}}}}},"description":"Updates notes for a resource with the specified data.","summary":"Bulk update","security":[{"header_authorization":[]}],"x-controller":"v1/domain_notes","x-action":"batch_update"}},"/v1/notes/{resource}/{id}/notes/{domain}":{"delete":{"tags":["Domain Notes"],"operationId":"V1_Domain_Notes-destroy","parameters":[{"name":"domain","description":"domain","required":true,"in":"path","schema":{"type":"string"}},{"name":"id","description":"Resource ID","required":true,"in":"path","schema":{"type":"integer"}},{"name":"resource","description":"Valid resources: policies, msps or organizations","required":true,"in":"path","schema":{"type":"string","enum":["policies","msps","organizations"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not delete resource notes","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"200":{"description":"Resource notes information","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DomainNotesSpec"}}}}}},"description":"Deletes notes for a resource.","summary":"Delete","security":[{"header_authorization":[]}],"x-controller":"v1/domain_notes","x-action":"destroy"}},"/v1/notes/{resource}/{id}/notes/batch_destroy":{"delete":{"tags":["Domain Notes"],"operationId":"V1_Domain_Notes-batch_destroy","parameters":[{"name":"domains","description":"Comma separated list of domains.","required":true,"in":"query","schema":{"type":"string"}},{"name":"id","description":"Resource ID","required":true,"in":"path","schema":{"type":"integer"}},{"name":"resource","description":"Valid resources: policies, msps or organizations","required":true,"in":"path","schema":{"type":"string","enum":["policies","msps","organizations"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Can not delete resource notes","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"200":{"description":"Resource notes information","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DomainNotesSpec"}}}}}},"description":"Deletes notes for a resource.","summary":"Batch destroy","security":[{"header_authorization":[]}],"x-controller":"v1/domain_notes","x-action":"batch_destroy"}},"/v1/domains/user_lookup":{"get":{"tags":["Domains"],"operationId":"V1_Domains-user_lookup","parameters":[{"name":"fqdn","description":"FQDN to lookup","required":false,"in":"query","schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Domains basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/DomainSpec"}}}}}}},"description":"Gets all the domains associated for a particular FQDN.","summary":"Lookup","security":[{"header_authorization":[]}],"x-controller":"v1/domains","x-action":"user_lookup"}},"/v1/domains/bulk_lookup":{"get":{"tags":["Domains"],"operationId":"V1_Domains-bulk_lookup","parameters":[{"name":"fqdns","description":"Comma separated list of FQDNs to lookup","required":false,"in":"query","schema":{"type":"string"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Domains basic information","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/DomainSpec"}}}}}}}},"description":"Gets the domains and categories associated for each FQDN of the specified list.","summary":"Bulk lookup","security":[{"header_authorization":[]}],"x-controller":"v1/domains","x-action":"bulk_lookup"}},"/v1/domains/suggest_threat":{"post":{"tags":["Domains"],"operationId":"V1_Domains-suggest_threat","parameters":[{"name":"categories","description":"Suggested security categories, comma separated IDs","required":false,"in":"query","schema":{"type":"string"}},{"name":"fqdn","description":"FQDN to verify","required":true,"in":"query","schema":{"type":"string"}},{"name":"notes","description":"User notes about the threat suggestion/verification","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Operation response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Success"}}}}},"description":"Mark a FQDN to verify its threat categorization.\n\nRequest example: `/v1/domains/suggest_threat?fqdn=XXXX\u0026notes\u0026test-report\u0026categories=1,222,989`","summary":"Suggest threat","security":[{"header_authorization":[]}],"x-controller":"v1/domains","x-action":"suggest_threat"}},"/v1/enterprise_connections":{"get":{"tags":["Enterprise Connections"],"operationId":"V1_Enterprise_Connections-index","parameters":[{"name":"organization_id","description":"Organization ID","required":true,"in":"query","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Array of enterprise connections","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/EnterpriseConnection"}}}}}}}}}},"description":"Gets information for all the enterprise connections for the given organization.","summary":"Get extant","security":[{"header_authorization":[]}],"x-controller":"v1/enterprise_connections","x-action":"index"},"post":{"tags":["Enterprise Connections"],"operationId":"V1_Enterprise_Connections-create","parameters":[],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unable to create connection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Enterprise connection","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/EnterpriseConnection"}}}}}}}}},"description":"Create an enterprise connection.\n\nNote: To set your organization's custom login url for enterprise\nconnections, you need to set the 'unique_id' attribute on the\norganization itself. See the PATCH /v1/organizations endpoint.","summary":"Create","security":[{"header_authorization":[]}],"x-controller":"v1/enterprise_connections","x-action":"create","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseConnectionCreatePayload"}}}}}},"/v1/enterprise_connections/{id}":{"get":{"tags":["Enterprise Connections"],"operationId":"V1_Enterprise_Connections-show","parameters":[{"name":"id","description":"Enterprise connection ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Enterprise connection","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/EnterpriseConnection"}}}}}}}}},"description":"Gets information for the specified enterprise connection.","summary":"Show connection","security":[{"header_authorization":[]}],"x-controller":"v1/enterprise_connections","x-action":"show"},"patch":{"tags":["Enterprise Connections"],"operationId":"V1_Enterprise_Connections-update","parameters":[{"name":"id","description":"Enterprise connection ID","required":true,"in":"path","schema":{"type":"integer"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unable to update connection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Enterprise connection","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/EnterpriseConnection"}}}}}}}}},"description":"Update an enterprise connection.\n\nNote: To set your organization's custom login url for enterprise\nconnections, you need to set the 'unique_id' attribute on the\norganization itself. See the PATCH /v1/organizations endpoint.","summary":"Update","security":[{"header_authorization":[]}],"x-controller":"v1/enterprise_connections","x-action":"update","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseConnectionUpdatePayload"}}}}},"delete":{"tags":["Enterprise Conn
[...]
